<a href="https://colab.research.google.com/github/soyongseok/playdata/blob/main/02_%EC%BB%AC%EB%A0%89%EC%85%98_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수와 메소드
- 함수
    - 코드의 반복을 줄이거나 어떠한 기능을 하기 위해 특정 코드를 모아둔 것
$$
f(x) = 2x
$$

- 메소드
    - 객체(값)의 소속되어 있는 함수

In [ ]:
s = "ABCD"

len(s)  # 함수

4

In [ ]:
s.lower()   # 메소드

'abcd'

# 컬렉션 자료형 (Collection data type)
- 여러가지 요소를 하나로 묶어서 담을 수 있는 데이터 타입
    - 문법적인 요소들 빼고 다 담을 수 있다.
    - 객체, 변수, 함수, 클래스 ... 등 담을 수 있다.
    - list, set, dict, tuple

# 자료형의 특징
- Sequence 자료형
    - 열거 되어있고, 연속되어 있다.
    - 순서와 순번(index)이 있다.
- mutable 자료형
    - 수정 가능한 객체(값)
    - 컬렉션 자료형: `list, set, dict`
- immutable 자료형
    - int, float, str, bool, tuple(컬렉션 타입)

# list
- Sequence 자료형
- mutable 자료형
    - 변경 가능
-  중복 데이터 저장 가능
- `[]`를 이용해서 만들 수 있다.

In [ ]:
lst = []
lst

[]

In [ ]:
lst = [1,2,3,3,"four", None, 7.0, True]
lst

[1, 2, 3, 3, 'four', None, 7.0, True]

In [ ]:
lst = [1,2,3,[1,2]]
len(lst)

4

In [ ]:
lst = [11,200,7,9,10]
sorted(lst,reverse = True)

[200, 11, 10, 9, 7]

In [ ]:
max(lst)

200

In [ ]:
min(lst)

7

In [ ]:
sum(lst) / len(lst) # 평균 구하기!

47.4

## 시퀀스 다루기
- Sequence는 순번이 있다.
    - 순번을 index 라고 한다
- 파이썬의 인덱스는 2종류가 있다.
    - 양수 인덱스
        - `0` 부터 시작한다.
        - 왼쪽에서 오른쪽으로 1씩 증가
    - 음수 인덱스
        - `-1`부터 시작한다.
        - 오른쪽에서 왼쪽으로 1씩 감소
- 인덱스는 무조건 정수 !!

In [ ]:
lst = [1,2,3,3,"four", None, 7.0, True]
lst

[1, 2, 3, 3, 'four', None, 7.0, True]

In [ ]:
lst[0]

1

In [ ]:
lst[4]

'four'

In [ ]:
lst[-2]

7.0

## 슬라이싱(Slicing)
- 인덱스를 사용해서 시퀀스를 잘라낸다.
- 시퀀스에 특정 범위를 가리킨다.
- `[start:end:step]`
    - `start ~ end-1` 부분을 `step`만큼 건너 뛰면서 잘라낸다.

In [ ]:
lst = ["a", "b", "c", "d", "e", "f", "g"]
lst

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
lst[0:3]

['a', 'b', 'c']

In [ ]:
lst[2:4]

['c', 'd']

In [ ]:
lst[-3:-1]

['e', 'f']

- `start, end, step` 생략이 가능하다.
- `start`를 생략하면 자동으로 `0`이 들어간다.
- `end`를 생략하면 자동으로 시퀀스의 길이(len)가 들어간다.

In [ ]:
lst[:] # lst[0:len(lst)]와 같다.

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
lst[3:]

['d', 'e', 'f', 'g']

In [ ]:
lst[:5]

['a', 'b', 'c', 'd', 'e']

In [ ]:
lst[:-2]

['a', 'b', 'c', 'd', 'e']

In [ ]:
lst[-5:]

['c', 'd', 'e', 'f', 'g']

- step
    - 지정한 범위에서 `step` 만큼 건너뛰면서 슬라이싱
    - `step`을 생략하면 기본적으로 1이 주어진다.

In [ ]:
lst[::] # lst[0:len(lst):1]과 같다.

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
lst[::2]

['a', 'c', 'e', 'g']

- `step` 부분을 양수, 음수를 이용해서 방향 설정 가능
    - 양수: 정방향(왼쪽에서 오른쪽)
    - 음수: 역방향(오른쪽에서 왼쪽)

In [ ]:
lst[::-1]

['g', 'f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
lst = [10,20,30,40,50,60,70]
lst

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
lst[-1:-5:-1]

[70, 60, 50, 40]

In [ ]:
lst[-2:-6:-1]

[60, 50, 40, 30]

In [ ]:
num_list = [2,3,4,5,6,7,8,9,10,11,12,13,14,15] # 10보다 작은 3의 배수 (오름차순)
num_list[1:10:3]

[3, 6, 9]

## 리스트는 변경이 가능하다

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst[1] = 10000
lst

[1, 10000, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lst[:1] = 3 # 슬라이싱 해서 리스트가 반환 됐기 떄문에 단일값 대입 시 에러가 난다.

TypeError: ignored

- 길이가 달라도 리스트에 리스트를 담는 것은 가능하다.

In [ ]:
lst[1:] = [3]
lst

[1, 3]

In [ ]:
lst[1:] = [1001,1002,1003,1004]
lst

[1, 1001, 1002, 1003, 1004]

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- step 을 2이상 넣어 연속적인 공간이 아닌 리스트가 슬라이싱 되면 수정이 안된다

In [ ]:
lst[1::2] = [0]

ValueError: ignored

## `list`의 메소드

- `append()`
    - 리스트 제일 뒤에 값을 추가

In [ ]:
lst = [1,2,3,4]
lst.append(0)
lst

[1, 2, 3, 4, 0]

In [ ]:
sorted(lst)  # 복사 후 정렬하지만 결과적으로 정렬이 안된다.

[0, 1, 2, 3, 4]

In [ ]:
lst

[1, 2, 3, 4, 0]

In [ ]:
lst.sort()  # 값 안에서 정렬이 된다.
lst

[0, 1, 2, 3, 4]

- pop()
    - 제일 뒤에 있는 데이터를 꺼내고 삭제
    - 인덱스 값을 줄 경우 해당 인덱스 값을 꺼내고 삭제

In [ ]:
lst

[0, 1, 2, 3, 4]

In [ ]:
print(lst.pop())
print(lst)

print(lst.pop())
print(lst)

4
[0, 1, 2, 3]
3
[0, 1, 2]

In [ ]:
lst.pop(1)
lst

[0, 2]

- `extend()`
    - 리스트와 리스트를 합친다.

In [ ]:
lst = [1,2,3]
lst.extend([4,5,6])
lst

[1, 2, 3, 4, 5, 6]

In [ ]:
lst = [1,2,3]
lst.append([4,5,6])
lst

[1, 2, 3, [4, 5, 6]]

- insert()
    - 인덱스 위치에 값을 추가한다.

In [ ]:
lst = [1,2,3]
lst.insert(0,9)
lst

[9, 1, 2, 3]

- remove()
    - 리스트에서 값을 찾아 삭제한다.

In [ ]:
lst = [10,20,30]
lst.remove(20)
lst

[10, 30]

 - del
    - del 이라는 키워드를 사용하면 된다.
    - 리스트에 경우 특정 인덱스 값을 삭제
    - 메모리관리할 때 편함

In [ ]:
lst = [10,20,30]
del lst[1]
lst

[10, 30]

In [ ]:
a = 1004
del a
a

NameError: ignored

## 1번 문제 
###다음 리스트에서 앞에서부터 하니씩 꺼낸 값을 출력하면서 모든 값을 꺼내시오.

In [ ]:
lst = [1,2,3,4]

In [ ]:
print(lst.pop())
print(lst)

print(lst.pop())
print(lst)

print(lst.pop())
print(lst)

print(lst.pop())
print(lst)

4
[1, 2, 3]
3
[1, 2]
2
[1]
1
[]

## 2번 문제
### 다음 리스트에서 2의 배수만  내림차순으로 슬라이싱하시오.

In [ ]:
num_list = [2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [ ]:
num_list[-2::-2]

[14, 12, 10, 8, 6, 4, 2]

## 3번 문제
### 다음 리스트에서 sort 메소드와 인덱싱만을 이용하여 최대값과 최소값을 구하시오.

In [ ]:
num_list = [6,7,8,9,11,12,13,14,15,2,3,4,5]

In [ ]:
num_list.sort()
num_list

[2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15]

In [ ]:
num_list[-1],num_list[0]

(15, 2)

## 연산자를 이용한 리스트를 조작해보자

In [219]:
list1 = [1,2,3]
list2 = [4,5,6]
list1 + list2 # 나중에 자동으로 사라진다. (extend와 동일)

[1, 2, 3, 4, 5, 6]

In [3]:
list1 + [2] # append와 동일 (속도가 느리다.)

[1, 2, 3, 2]

- 하나의 요소를 추가할 때는 `append` 메소드가 더 빠르고, 리스트끼리 합칠때는 `+` 기호가 조금 더빠르다.

In [7]:
list1*3 # 원본 데이터의 수정 X

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [8]:
2 in list1

True

In [9]:
1004 not in list1

True

In [220]:
list1 == [1,2,3]  # 각 인덱스 위치에 맞는 요소의 값을 검사한다.

True

In [15]:
list1 != [1,2,3]

False

## is 연산자 와 is not 연산자
- 같은 객체인지 아닌지 검사한다.

In [19]:
lst = [1,2,3]

lst is [1,2,3]

False

In [21]:
tmp = lst

lst is tmp

True

- 어떠한 연산결과로 나온 변수의 값이 `True` 인지 `False` 인지와 `None` 값을 체크할 때 주로 `is` 와 `is not` 연산자를 사용한다

In [22]:
is_num = True
is_num is True

True

In [23]:
data_list = None
data_list is not None

False

In [25]:
a = 1
b = 1
id(a), id(b) # 자주 쓰는 것은 메모리에 올라가 있어 주소값이 같다.

(11256064, 11256064)

# `tuple`
- Sequence 자료형
- Immutable 자료형 (수정 X)
- 중복데이터 저장 가능
- `()` 를 활용해서 만들 수 있다. (소괄호 생략 가능)

In [26]:
tuples = ()
tuples

()

In [28]:
tuples = "h","e","l","l","o"
tuples

('h', 'e', 'l', 'l', 'o')

In [29]:
a = 1
b = 2
a,b

(1, 2)

In [31]:
type(tuples)  # 변경이 되지 않아 메모리를 적게 차지한다. (슬라이싱 가능)

tuple

- 프로그램이 실행되는 동안 튜플은 안에 있는 요소들이 변경이 일어나면 안되는 경우 사용
- 리스트보다 메모리를 적게 차지하고, 속도가 더 빠르다!

In [32]:
tuples[0]

'h'

In [33]:
tuples[0] = "j"

TypeError: ignored

In [36]:
tuples.count("l")   # 인자로 넣은 값이 몇 개 있는지 반환해준다.

2

In [37]:
tuples.count(10)

0

In [39]:
tuples + tuples # 사칙연산 및 다양한 것들 사용 가능!

('h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o')

In [46]:
tuples.extend([2])  # 변경이 안된다.

AttributeError: ignored

- 슬라이싱 복습
    - 다음의 튜플에서 슬라이싱을 활용하여 짝수만 출력해보자.

In [52]:
num_tuple = (1,2,3,4,5,6,7,8,9,10)
num_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [55]:
num_tuple[1::2]

(2, 4, 6, 8, 10)

- 이번에는 짝수를 역순으로 출력해보자

In [63]:
num_tuple[-1::-2]

(10, 8, 6, 4, 2)

- 함수를 복습해봅시다.
    - num_tuple의 최대값,최소값,합계,튜플 안에 요소 개수를 출력해보자.

In [72]:
max(num_tuple),min(num_tuple),sum(num_tuple),len(num_tuple)

(10, 1, 55, 10)

# `set`
- Non-Sequence 자료형
- 데이터의 저장의 순서를 보장하지 않는다.
    - 인덱싱과 슬라이싱 지원하지 않는다.
- mutable 자료형
- 중요한 특징으로 중복 데이터 저장 허용 X
- `{}` 중괄호를 이용해서 만들 수 있다.

In [74]:
sets = set()
type(sets)

set

In [76]:
sets = {1001,1001,1001,1001,1001,1004,1004,1004,1004,11,22,44,56,100}
sets

{11, 22, 44, 56, 100, 1001, 1004}

In [78]:
sets[0] # 순서를 보장하지 않아 오류가 뜬다.

TypeError: ignored

```
- `in` 연산자와 `not in` 연산자 지원된다.
- 더하거나 곱하기 연산자는 지원 안한다. (의미가 없기 때문)
```

- set객체의 메소드

In [221]:
A = {1,2,3}
B = {2,3,4}
A,B

A.intersection(B)   # 교집합

{2, 3}

In [81]:
A.union(B)  # 합집합

{1, 2, 3, 4}

In [82]:
A.difference(B) # 차집합

{1}

- 수정가능하다.

In [83]:
a = {1,2,3}
a.add(100)  # 하나의 값을 추가하고 싶을 때
a

{1, 2, 3, 100}

In [86]:
a.update([1,2,3,4,5,6,7,8,9,10,100])    # 여러값을 추가하고 싶을 때 (중복값은 안된다.)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100}

In [87]:
a.remove(100)   # 특정 값을 제거하고 싶을 때
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# `dict`(Dictionary)
- Non-Sequence 자료형
- mutable 자료형
- key-value 구조로 되어있다.
- key 중복 X
- value 중복 O
```python
{
    key: value,
    key: value,
    ...
}
```

In [88]:
city = {}
type(city)

dict

In [91]:
city = {                # set,list,tuple 이런 형식으로 작성할 수 있다.
    "한국" : "부산",
    "일본" : "교토",
    "캐나다" : "오타와"
}
city

{'일본': '교토', '캐나다': '오타와', '한국': '부산'}

In [93]:
city["한국"]    # dict 의 값을 가져올 때는 key 값을 활용한다.

'부산'

In [94]:
city["중국"]    # 없는 key의 value 를 가져오려할 때는 에러가 발생!

KeyError: ignored

In [217]:
city.get("중국","없음")    # 중국이라는 키가 없을경우 없음이라는 문자열로 반환해라 (에러가 안난다.)

'없음'

- dict로 만들어봐라
```
용석 100
철수 80
관수 100
민수 70
민영 60.5
```

In [104]:
grade = {
    "용석" : "100",
    "철수" : "80",
    "관수" : "100",
    "민수" : "70"
}
grade

{'관수': '100', '민수': '70', '용석': '100', '철수': '80'}

In [113]:
grade["민영"] = "60.5"
grade

{'관수': '100', '민수': '70', '민영': '60.5', '용석': '100', '철수': '80'}

In [197]:
city["중국"] = "베이징" # 중국 key가 없으니 key와 value 가 추가 된다.
city

{'미국': '워싱턴', '중국': '베이징', '캐나다': '오타와', '한국': '부산'}

In [199]:
city["일본"] = "도꾜"   # key가 있어서 해당 key 에 해당되는 value가 수정된다.
city

{'미국': '워싱턴', '일본': '도꾜', '중국': '상하이', '캐나다': '오타와', '한국': '부산'}

In [198]:
add_city = {"중국" : "상하이", "미국" : "워싱턴"}
city.update(add_city)   # update 함수는 여러개의 key와 value 를 수정하거나 추가하고 싶을 때 사용
city

{'미국': '워싱턴', '중국': '상하이', '캐나다': '오타와', '한국': '부산'}

In [200]:
del city["일본"] # key 가 "일본" 인 key와 value 쌍을 삭제하겠다.
city

{'미국': '워싱턴', '중국': '상하이', '캐나다': '오타와', '한국': '부산'}

In [132]:
print(city.pop("중국")) # 삭제를 하고자하는 key를 넣어서 삭제할 수 있다. 해당 key의 value가 반환된다.
city

상하이

{'미국': '워싱턴', '캐나다': '오타와', '한국': '부산'}

In [133]:
city.keys() # dict 내의 전체 키를 확인 할 수 있다.

dict_keys(['한국', '캐나다', '미국'])

In [134]:
city.values()   # dict 내의 전체 value 를 확인할 수 있다.

dict_values(['부산', '오타와', '워싱턴'])

In [136]:
city.items()    # dict 내의 전체 key, value 를 확인할 수 있다.

dict_items([('한국', '부산'), ('캐나다', '오타와'), ('미국', '워싱턴')])

In [153]:
"한국" in  city.keys()   # 내 생각 => city in ["한국"] city가 한국안에 있냐는 뜻!

True

In [202]:
num_dict = {
    0:"제로",
    3.14:"원주율",
    True:"진실"
}
num_dict[0]

'제로'

In [160]:
num_dict[3.14]

'원주율'

In [161]:
num_dict[True]

'진실'

In [158]:
info_dict = {
    "name" : "손용석",
    "age" : 25,
    "score" : [100,50,60,87,90],
    "etc" : {
        "my_dream" : 'hacker'
    }
}
info_dict

{'age': 25,
 'etc': {'my_dream': 'hacker'},
 'name': '손용석',
 'score': [100, 50, 60, 87, 90]}

# mean의 키를 avg라는 키로 변경하시오. 
# pop 메소드를 이용하시면 됩니다.

In [193]:
mean_dict = {
    "mean" : 80,
    "std"  : 3.5,
}
mean_dict

{'mean': 80, 'std': 3.5}

In [194]:
mean_dict["avg"] = mean_dict.pop("mean")
mean_dict

{'avg': 80, 'std': 3.5}

# 컬렉션 자료형 변환

- `list` -> `tuple`

In [203]:
lst = [1,2,3]
tuple(lst)

(1, 2, 3)

- `tuple` -> `list`

In [204]:
tup = 1,2,3
list(tup)

[1, 2, 3]

- `set` -> `list`

In [205]:
sets = {"Apple","Banana","Mango"}   # 집합을 이용해서 중복제거 후 리스트 화
list(sets)

['Mango', 'Apple', 'Banana']

- `dict` -> `list`
    - key 가 리스트로 반환된다.

In [206]:
city = {
    "한국":"서울",
    "일본":"도꾜",
    "미국":"워싱턴",
}
list(city)          # => city.keys()와 동일!

['한국', '일본', '미국']

In [207]:
list(city.values())

['서울', '도꾜', '워싱턴']

In [208]:
city.items()

dict_items([('한국', '서울'), ('일본', '도꾜'), ('미국', '워싱턴')])

In [213]:
tup_list = list(city.items())
tup_list            # 전처리 시 사용

[('한국', '서울'), ('일본', '도꾜'), ('미국', '워싱턴')]

In [212]:
dict(tup_list)       # 전처리 시 사용

{'미국': '워싱턴', '일본': '도꾜', '한국': '서울'}

In [215]:
text = "hello"  # 문자열에 각 문자가 리스트에 하나의 요소로 들어간다.
list(text)

['h', 'e', 'l', 'l', 'o']

In [216]:
# text 의 문자열이 어떠한 알파벳으로 구성되어 있을까?
set(text)

{'e', 'h', 'l', 'o'}