<a href="https://colab.research.google.com/github/soyongseok/playdata/blob/main/04_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 제어문
- 코드의 `흐름`을 제어하는 문법
- 주어진 조건에 따라 반복해서 코드를 실행할 때 사용하는 것을 제어문이라고 한다.

# 조건문(Condition)
- 특정 조건을 만족하면(`True`) 코드를 실행
- `if`, `elif`, `else`
    - 우리 다음과 같이 `if elif else` 만을 이용해서 조건문을 만든다고 가정함
    - `if`의 조건이 참이면 실행해라
    - `elif`(else if 약어) : 그게아니고.... elif의 조건이 참이면 실행해라
    - `else` : `if` 와 `elif` 모두 조건이 참이 아니라면 실행해라
- 조건문 구조
```python
if <condition>:
    code content
elif <condition>:
    code content
...
...
...
else:
    code content
```

In [8]:
accuracy = 0.9
if accuracy >= 0.9:
    print("와우 최고의 인공지능 모델이네요")
elif accuracy < 0.9 and accuracy >= 0.8:
    print("좋은 모델이네요")
elif accuracy < 0.8 and accuracy >= 0.7:
    print("평범한 모델이네요")
else:
    print("차라리 제가 예측하겠습니다.")

와우 최고의 인공지능 모델이네요

- if 문은 단독으로 사용가능

In [431]:
10 / 0

ZeroDivisionError: ignored

In [19]:
num = 0 # True로 인식해서 출력이 안됨
if num != 0:
    print(10/num)

In [434]:
num = 2
if num: # 0과 None 객체가 아닐 경우 True
    print(10/ num)

5.0

In [21]:
num = 0
if num != 0:
    print(10 / num)
else:
    print("0으로 나눌 수 없습니다.")

0으로 나눌 수 없습니다.

In [23]:
num = -1
if num > 0:
    print(10 / num)
elif num < 0:
    print("양수만 넣어주세요")
else:
    print("0으로 나눌 수 없습니다.")

양수만 넣어주세요

```
회원가입 시 넘어온 나이값이 정수형이면 `정상값`을 출력
그게 아니면 `잘못된 값`을 출력하는 프로그램을 만들어 봅시다.
```

In [36]:
age = 25
if type(age) == int:
    print("정상값")
else:
    print("잘못된 값")

정상값

```
회원가입 시 나이값이 100이상이면 "유효한 나이를 입력해주세요." 를 출력
0 미만이면(음수)이면 "태어난거 맞나요?" 출력
0 ~ 99 "DB저장완료" 출력
```

In [43]:
age = 25

if age >= 100:
    print("유효한 나이를 입력해주세요.")
elif age < 0:
    print("태어난거 맞나요?")
else:
    print("DB저장완료")

DB저장완료

## 중첩 조건문
- 조건문 안에 조건문을 사용할 수 있다.

In [53]:
age = 18
if age > 99 or age < 0:
    print("유효한 나이를 입력해주세요.")
else:
    if age < 20:
        print("20세 이상만 회원가입이 가능합니다.")
    else:
        print("DB 저장 완료")

20세 이상만 회원가입이 가능합니다.

```
source = [90, 100, 51, 96, 66, 83]
Max 라는 단어를 입력받으면 최대값을 출력
Min 이라는 단어를 입력받으면 최소값을 출력
Mean 이라는 단어를 입력받으면 평균을 출력
Max, Min, Mean 외에 다른 단어를 입력 받으면 "똑바로 입력하세요" 를 출력해서 혼내주자
```

In [69]:
source = [90, 100, 51, 96, 66, 83]
age = input("Max, Min, Mean: ")

source_sort = sorted(source)

if age == 'Max':
    print(source_sort[-1])
elif age == 'Min':
    print(source_sort[0])
elif age == "Mean":
    print(sum(source) / len(source))
else:
    print("똑바로 입력하세요")

Max, Min, Mean: Mean
81.0

## 문제
```
계좌에 10000원이 들어있습니다.
인출 금액을 입력받습니다.
인출 금액이 'isdigit' 메소드를 이용하여 숫자가 아닐 경우 '유효한 금액을 입력하세요.' 출력

인출 금액이 계좌에 있는 금액보다 크면 '인출 불가능합니다. {}원의 잔액이 부족합니다.' 출력

인출 금액이 계좌에 있는 금액보다 작으면 '{} 원이 인출되었습니다.' 출력

정수가 입력될 경우에는 항상 마지막에 현재 계좌의 잔액을 출력 ('현재 잔액은 {}원입니다.')
```

In [249]:
account = 10000 # 잔액이 줄어드는 것을 위해 다음 셀에 작성

In [250]:
money = input("얼마 인출 할래?")    # 내 풀이

if money != money.isdigit():
    print("유효한 금액을 입력하세요.")
    money = int(money)
    if money > account:
        print(f"인출이 불가능합니다. {money - account}원의 잔액이 부족합니다.")
    else:
        account -= money
        print(f"{money}원이 인출되었습니다.")

    print(f"현재 잔액은 {account}원입니다.")

얼마 인출 할래?300
유효한 금액을 입력하세요.
300원이 인출되었습니다.
현재 잔액은 9700원입니다.

In [194]:
money = input("얼마 인출 할래?")    # 강사님 풀이

if money.isdigit():         # 정수 판별 메소드: isdigit
    money = int(money)
    if account < money:
        print(f"인출이 불가능합니다. {money - account}원의 잔액이 부족합니다.")
    else:
        account -= money
        print(f"{money}원이 인출되었습니다")
    
    print(f"현재 잔액은 {account} 원입니다.")
else:    
    print(f"유효한 금액을 입력하세요.")

얼마 인출 할래?9000
9000원이 인출되었습니다
현재 잔액은 1000 원입니다.

- 중앙값
    - 주어진 값을 크기 순으로 순서대로 정렬했을 때 가장 중앙에 위치한 값
    - 이상치에 영향을 받지 않는다.

- 조건문을 이용하여 중앙값을 추출하는 코드를 작성하세요.

In [95]:
model_scores1 = [0.92, 0.83, 0.91, 0.77, 0.99, 0.61, 0.88, 0.76 ,0.75] #  홀수 개수
model_scores2 = [0.92, 0.83, 0.91, 0.77, 0.99, 0.61, 0.88, 0.76, 0.75, 0.51] # 짝수 개수
print(model_scores1)
print(model_scores2)

[0.92, 0.83, 0.91, 0.77, 0.99, 0.61, 0.88, 0.76, 0.75]
[0.92, 0.83, 0.91, 0.77, 0.99, 0.61, 0.88, 0.76, 0.75, 0.51]

In [126]:
scores = model_scores1
scores = model_scores2

length = len(scores)
index = length // 2 

if length % 2: # 짝수
    median_val = sorted(scores)[index]
else:          # 홀수
    median_val = (sorted(scores)[index] + sorted(scores)[index-1])/2

print(median_val)

0.8

# 반복문(loop)
- 반복적으로 코드를 수정할 때 사용

## `while` 
- 조건이 참(`True`)인 동안 반복
- 무한 반복 주의
```python
while <condition>:
    code context
```

- 3단 출력해보기

In [131]:
n = 3   # 3단
i = 1   # 곱하는 수 1 ~ 9까지 증가한다.

while i < 10: # i(곱하는 수가) 10보다 작으면 반복해라
    print(f"{n} X {i} = {n*i}")
    i += 1

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [133]:
n = 3   # 3단
i = 0   # 곱하는 수 1 ~ 9까지 증가한다.

while i < 10: # i(곱하는 수가) 10보다 작으면 반복해라
    i += 1
    print(f"{n} X {i} = {n*i}") # 먼저 더해지고 결과가 나와 10까지 나온다!

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

- `break` : 해당 반복문을 빠져 나온다.

In [136]:
n = 9
i = 1
while True:
    print(f"{n} X {i} = {n*i}")
    i += 1
    if i > 9: 
        break

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

- `continue`
    - 진행을 중단하고 다음 반복으로 넘어간다.

In [142]:
n = 3
i = 1
while i < 10:
    if i % 2 != 0:
        i += 1
        continue  # 다시 위의 반복문으로 이동

    print(f"{n} X {i} = {n*i}")
    i += 1

3 X 2 = 6
3 X 4 = 12
3 X 6 = 18
3 X 8 = 24

```
다음과 같이 한영사전이 dict 형태로 되어있다.
{'사과' : 'Apple', '바나나': 'Banana', '딸기' : 'Strawberry'}
사용자의 입력을 받아 사전에 없는 단어(Key)를 입력받으면 "사전에 없습니다. 다시 입력하세요" 출력하고 입력대기 
사전에 단어(key)가 있으면 해당되는 단어(value)를 출력하고 반복문을 빠져나오게 하자.
```

In [157]:
fruits = {'사과' : 'Apple', '바나나' : 'Banana', '딸기' : 'Strawberry'}
while True:
    word = input("과일단어 입력: ")
    word = fruits.get(word) # 0과 none이 들어가면 실행이 안된다.(그래서 get함수 사용)
    if word:
        print(word)
        break
    else:
        print("사전에 없습니다. 다시입력하세요")

과일단어 입력: 참외
사전에 없습니다. 다시입력하세요
과일단어 입력: 포도
사전에 없습니다. 다시입력하세요
과일단어 입력: 딸기
Strawberry

```
다음과 같이 학습에 사용할 나이 데이터가 리스트에 담겨있다.
age_list = [20,42,None,30,25,None,27,50,60]
None 값들은 결측치
None 값들을 제외한 나이값들의 평균을 구하시오.
```

In [188]:
age_list = [20,42,None,30,25,None,27,50,60]

age_list

[20, 42, None, 30, 25, None, 27, 50, 60]

In [183]:
index = len(age_list)

tmp = []

while index:
    index -= 1
    if age_list[index] is not None:
        tmp.append(age_list[index])
avg = sum(tmp) / len(tmp)
avg = int(avg)
avg

36

``` 구한 평균 값으로 age_list의 결측치(None)를 채우세요.```

In [189]:
index = len(age_list)
while index:
    index -= 1
    if age_list[index] is None:
        age_list[index] = avg
age_list

[20, 42, 36, 30, 25, 36, 27, 50, 60]

- 중첩 while 문

In [192]:
i = 1
while i < 3:
    print(f"{i}번째 바깥쪽 while 문 입니다.")
    i += 1

    j = 1
    while j < 6:
        print(f"    {j}번째 안쪽 while 문 입니다.")
        j += 1

1번째 바깥쪽 while 문 입니다.
    1번째 안쪽 while 문 입니다.
    2번째 안쪽 while 문 입니다.
    3번째 안쪽 while 문 입니다.
    4번째 안쪽 while 문 입니다.
    5번째 안쪽 while 문 입니다.
2번째 바깥쪽 while 문 입니다.
    1번째 안쪽 while 문 입니다.
    2번째 안쪽 while 문 입니다.
    3번째 안쪽 while 문 입니다.
    4번째 안쪽 while 문 입니다.
    5번째 안쪽 while 문 입니다.

- 중첩 while문 사용하여 구구단 출력하기
```
2 단 입니다.
2 X 1 = 2
2 X 2 = 4
...
2 X 9 = 18
...
...
...
9 단 입니다
9 X 1 = 9
9 X 2 = 18
...
9 X 9 = 81
```

In [236]:
i = 1
while i < 10:
     print(f"{i+1}단 입니다.")
     i += 1

     j = 1
     while j < 10:
        print(f"{i} X {j} = {i*j}")
        j += 1

2단 입니다.
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3단 입니다.
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4단 입니다.
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5단 입니다.
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6단 입니다.
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7단 입니다.
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8단 입니다.
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9단 입니다.
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
10단 입니다.
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90

## `for`
- 반복 가능(iterable)한 객체를 더이상 꺼낼 수 없을 때까지 반복한다.
- `list`, `tuple`, `set`, `dict`, `str`

```python
for <variable> in <iterable>:
    code content
```

In [252]:
lst = [1,2,3,4]
for item in lst:   # 받아줄 변수 = item
    print(item **2)

1
4
9
16

In [255]:
 n = 9
 lst = [1,2,3,4,5,6,7,8,9]
 for i in lst:
    print(f"{n} X {i} = {n*i}")

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

```
for문과 조건문을 이용하여 다음의 리스트에서 음수만 출력하세요
lst = [-2,1,4,-88,-12,-12]
```

In [282]:
lst = [-2,1,4,-88,12,-12]

for i in lst:   # lst를 i(변수) 안에 넣음
    if i < 0:   # 그래서 lst가 아닌 i를 넣어야함
        print(i)

-2
-88
-12

```
for문과 조건문을 사용하여 다음의 리스트에서 3의 배수만을 출력하시오
lst = [3,33,100,23,81,44]
```

In [287]:
lst = [3,33,100,23,81,44]
for i in lst:
    if i % 3 == 0:
        print(i)

3
33
81

```
다음의 리스트에서 50미만의 3의 배수만 출력
lst = [3,33,100,23,81,44]
```

In [289]:
lst = [3,33,100,23,81,44]
for i in lst:
    if i % 3 == 0 and i < 50:
        print(i)

3
33

```
다음과 같이 리스트에 동물 이름이 있다. 첫글자를 대문자로 변경해서 출력하세요.
lst = ["dog","cat","rabbit"]
```

In [313]:
lst = ["dog","cat","rabbit"]

for i in lst:
      print(i[0].upper() + i[1::])

Dog
Cat
Rabbit

```
다음과 같이 이메일 리스트에 담겨 있다. for 문과 문자열 메소드를 이용하여 아이디만 출력해보세요

email_list = ["user1004@gmail.com","user100@naver.com","user1@gmail.com","user14@hanmail.net"]
```

In [373]:
email_list = ["user1004@gmail.com","user100@naver.com","user1@gmail.com","user14@hanmail.net"]

for i in email_list:
    print(i.split("@")[0])

user1004
user100
user1
user14

```
gmail에 해당하는 이메일 주소만 출력하세요.
email_list = ["user1004@gmail.com","user100@naver.com","user1@gmail.com","user14@hanmail.net"]
```

In [369]:
email_list = ["user1004@gmailcom","user100@naver.com","user1@gmail.com","user14@hanmail.net"]

for i in email_list:
    if i.endswith("gmail.com"):
        print(i)

user1@gmail.com

### `range` 함수
- 특정 구간의 숫자의 범위를 만들어 주는 함수
- 슬라이싱 기법을 이용해서 숫자의 범위를 만들어준다.
- 파이썬의 range 라는 숫자의 범위를 가진 iterable한 특수한 객체를 반환
- for문과 자주 사용된다.

In [337]:
range(0,10) # 숫자 0~9까지 순차적으로 뽑겠다는 말

range(0, 10)

In [339]:
range(10)   # range(0,10)와 같다.

range(0, 10)

In [342]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [346]:
list(range(10,0,-1))  # 역순 (슬라이싱과 살짝 차이남)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [347]:
i = 9
for i in range(1,10):
    print(f"{n} X {i} = {n*i}")

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

```
for 와 range 함수를 사용해서 1 ~ 40까지 숫자들 중에서 4의 배수만 출력해보세요.
```

In [361]:
for i in range(1,41):   # 내 답
    if i % 4 == 0:
        print(i)

4
8
12
16
20
24
28
32
36
40

In [363]:
for i in range(4,41,4): # 강사님 답
    print(i)

4
8
12
16
20
24
28
32
36
40

In [366]:
for x in range(40,3,-4):
    print(x)

40
36
32
28
24
20
16
12
8
4