<a href="https://colab.research.google.com/github/soyongseok/playdata/blob/main/%EB%AC%B8%EC%A0%9C%EC%A7%91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 다음의 실행 결과에 대한 출력값을 적으시오.
```python
x = 1234
y = 1234
x is y
```
- 출력값: Fasle
- 변수가 다르기 때문에 주소값이 다르다.

2. 다음의 실행 결과에 대한 출력값을 적으시오.
```python
x = 1234
y = 1234
x == y
```
- 출력값: True

3. 다음의 실행 결과에 대한 출력값을 적으시오.
```python
x = 1234
y = x
id(y) == id(x)
```
- 출력값: True

4. 1번, 2번, 3번 문제의 출력값이 나오는 이유를 간단히 설명하시오.
- 설명: 1,2,3문제 모두 비교연산자로 변수나 객체를 비교하여 bool형식으로 반환하기 때문이다.

5. 다음의 문장을 출력하시오.
```
관수가 말했다. "점심 맛있게 드세요".
```

In [ ]:
print('용석이가 말했다. "점심 맛있게 드세요."')

용석이가 말했다. "점심 맛있게 드세요.

6. 다음의 코드에서 \n 과 \t 에 대한 설명을 작성하시오.
```python
print("안녕하세요.\n만나서\t반갑습니다.")
```
- `\n` 의미: new line으로 다음 line에서 새로 출력한다는 의미입니다.
- `\t` 의미: tap과 같은 의미로 띄어쓰기 4번한 것과 동일한 기능입니다.

7. print() 함수 파라미터를 이용해 다음을 출력해보세요.
```
링딩동링딩동/링디기딩디기딩딩딩/링딩동링딩동
```

In [ ]:
print("링딩동링딩동", "링디기딩디기딩딩딩", "링딩동링딩동", sep="/")

링딩동링딩동/링디기딩디기딩딩딩/링딩동링딩동

8. 다음의 변수들를 이용해서 예시와 같은 출력을 하시오
```
name = "이관수"
age = 42
```
- 출력 예시: 
나의 이름은 이관수 입니다. 나이는 42살 이에요

In [ ]:
name = "이관수"
age = 42
print(f"나의 이름은 {name} 입니다. 나이는 {age} 이에요")

나의 이름은 이관수 입니다. 나이는 42 이에요

9. 위에서 만든 변수 name, age 의 타입을 확인하는 함수를 이용하여 각각의 타입을 확인해주세요.

In [ ]:
type(name),type(age)

(str, int)

10. 변수 age를 문자열 자료형 으로 변경해서 age 변수에 다시 담으세요.

In [ ]:
age = str(age)

type(age)

str

11. 다음 변수에서 H, p, mas, ! 를 각각 출력해보세요.
```python
word = 'Happy Christmas!'
```

In [ ]:
word = 'Happy Christmas!'
word[:1], word[3:4], word[-4:-1], word[-1]

('H', 'p', 'mas', '!')

12. word 변수에서 메소드를 사용하여 Christmas!만 출력하세요.

In [ ]:
word.split(" ")[1]

'Christmas!'

13. word 변수에 담긴 문자열을 슬라이싱을 이용하여 거꾸로 뒤집은 순서로 출력하세요.

In [ ]:
word[::-1]

'!samtsirhC yppaH'

14. word 변수의 공백 부분을 `-` 로 치환해 출력해주세요.

In [ ]:
word.replace(" ","-")

'Happy-Christmas!'

15. 아래의 코드 실행결과의 출력값을 적으시오.

```python
a = "15"
b = "20"
print(a + b)
```
- 출력값 : 1520

16. 아래의 코드 실행결과의 출력값을 적으시오.

```python
 print("Hello" * 3)
```
- 출력값 :HelloHelloHello

17. 다음의 변수의 문자열을 모두 대문자로 출력하고 , 그다음에 모두 소문자로 출력하시오.
```
answer = 'Life is 42'
```

In [ ]:
answer = 'Life is 42'
answer.upper(),answer.lower()

('LIFE IS 42', 'life is 42')

18. answer 변수의 `42`라는 문자열로 시작하는지 여부와 끝나는지 여부를 확인해주세요.

In [ ]:
answer.startswith("42"),answer.endswith("42")

(False, True)

19. date 변수를 연도, 월, 일로 구분해 dates라는 리스트에 저장해주세요.
```
date = "2000-12-21"
```

In [ ]:
date = "2000-12-21"
dates = date.split("-")
dates

['2000', '12', '21']

20. date 변수의 좌우 공백을 제거해주세요.
```
date = "      2000-12-21     "
```

In [ ]:
date = "      2000-12-21     "
date.strip()

'2000-12-21'

21. 다음의 리스트에서 '블랙핑크'를 추가해주세요
```
my_play_list = ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼' ]
```

In [ ]:
my_play_list = ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼' ]
my_play_list.append("블랙핑크")
my_play_list

['나플라', '이센스', '제이콜', '나스', '찬스더래퍼', '블랙핑크']

22. my_play_list에 '이센스'와 '제이콜' 사이에 '더콰이엇'을 추가해주세요

In [ ]:
my_play_list.insert(2,"더콰이엇")
my_play_list

['나플라', '이센스', '더콰이엇', '제이콜', '나스', '찬스더래퍼', '블랙핑크']

23. my_play_list에서 '찬스더래퍼' 값을 삭제해주세요

In [ ]:
my_play_list.remove("찬스더래퍼")
my_play_list

['나플라', '더콰이엇', '이센스', '제이콜', '나스', '블랙핑크']

24. 아래의 numbers 리스트에서 최소값과 최대값을 찾아 출력해주세요.
```
numbers = [13, 12, 23, 54, 115, 56, 17]
```

In [ ]:
numbers = [13, 12, 23, 54, 115, 56, 17]
print(min(numbers),max(numbers))

12 115

25. numbers 리스트를 오름차순으로 정렬한 새 리스트를 만들어 num_ascending 라는 변수명으로 저장해주세요.

In [ ]:
numbers.sort()
num_ascending = numbers
num_ascending

[12, 13, 17, 23, 54, 56, 115]

26. numbers 의 요소들에 대한 평균값을 구하세요.

In [ ]:
avg = sum(numbers) / len(numbers)
int(avg)

41

27. 아래의 리스트 a에서 리스트 슬라이싱을 활용하여 짝수만 출력해보세요. 
```
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a[1::2]

[2, 4, 6, 8, 10]

28. 리스트 a에서 리스트 슬라이싱을 활용하여 홀수만 출력해보세요

In [ ]:
a[::2]

[1, 3, 5, 7, 9]

29. 다음의 리스트를 이용하여 출력결과와 같은 문자열로 출력하시오.
```
str_list = ['We', 'are', 'learning', 'python']
```
- 출력결과: We are learning python

In [ ]:
str_list = ['We', 'are', 'learning', 'python']
" ".join(str_list)

'We are learning python'

30. 1004 값이 하나만 있는 튜플을 만드세요.

In [ ]:
a = 1004,
a # 1004만 입력했을 때는 튜플이 아닌것 같아서 ,를 넣었는데 맞는지 모르겠습니다.

(1004,)

31. 다음의 튜플을 타입변환(tuple->list->tuple) 이용해서 2값과 3값사이에 100을 넣으시오
```
tup = 1,2,3,4,5
```

In [ ]:
tup = 1,2,3,4,5
a = list(tup)
a.insert(2,100)
b = tuple(a)
type(b)

tuple

32. 다음의 목록에서 과목명을 key 로 하고 점수를 value 로 하는 딕셔너리를 만드시오.
``` 
영어 | 95
수학 | 100
국어 | 90
과학 | 97
사회 | 99
```

In [ ]:
data = {
    "영어" : 95,
    "수학" : 100,
    "국어" : 90,
    "과학" :97,
    "사회" :99
}

data

{'영어': 95, '수학': 100, '국어': 90, '과학': 97, '사회': 99}

33. scores 변수에서 존재하지않는 key 인 "한국사" 의 점수를 확인하려 할때 에러가 발생하지 않게 하시오.

In [ ]:
data.get("한국사","없는 과목입니다.")

'없는 과목입니다.'

34. scores 변수에서 사회 과목은 97점으로 변경하시오.

In [ ]:
data["사회"] = 97
data

{'영어': 95, '수학': 100, '국어': 90, '과학': 97, '사회': 97}

35. scores 의 변수의 전체 key를 출력하시오

In [ ]:
data.keys()

dict_keys(['영어', '수학', '국어', '과학', '사회'])

36. scores 의 변수의 전체 value 를 출력하시오

In [ ]:
data.values()

dict_values([95, 100, 90, 97, 97])

37. scores 의 변수의 전체 key, value 를 출력하시오

In [ ]:
data.items()

dict_items([('영어', 95), ('수학', 100), ('국어', 90), ('과학', 97), ('사회', 97)])

38. 다음의 리스트에서 인덱스 번호와 요소값을 for 문을 이용해서 출력하시오.
```
lst = ['사과', '바나나', '딸기']
```

In [ ]:
lst = ['사과', '바나나', '딸기']
for i in range(len(lst)):
    print(f"{i},{lst[i]}")
# enumerate 쓰기

0,사과
1,바나나
2,딸기

39. 다음의 리스트들을 for 문을 이용해서 동일한 인덱스의 값들이 동시에 출력되게 하시오.
```
list1 = ['사과', '바나나', '딸기']
list2 = ['Apple', 'Banana', 'Strawberry']
```

In [ ]:
list1 = ['사과', '바나나', '딸기']
list2 = ['Apple', 'Banana', 'Strawberry']

for i in list(zip(list1,list2)):
    print(i)

('사과', 'Apple')
('바나나', 'Banana')
('딸기', 'Strawberry')

40. list1 의 값들을 key 로 하고 list2 의 값들을 value 로 하는 딕셔너리를 만드시오.

In [ ]:
dict(zip(list1,list2))

{'사과': 'Apple', '바나나': 'Banana', '딸기': 'Strawberry'}

41. 다음 코드를 for문으로 작성해주세요.
```
print('1번 끝')
print("-------")
print('2번 끝')
print("-------")
print('3번 끝')
print("-------")
```

In [ ]:
for i in range(3):
    print(f"{i+1}번 끝")
    print("-------")

1번 끝
-------
2번 끝
-------
3번 끝
-------

42. 다음의 리스트를 컴프리헨션을 이용하여 음수들만 새로운 리스트에 담으세요.
```
lst = [-2, 1, 4, -88, 12, -12]
```

In [ ]:
lst = [-2, 1, 4, -88, 12, -12]
x = [i for i in lst if i < 0]
x

[-2, -88, -12]

43. 다음의 리스트를 중첩 for문과 슬라이싱을 이용하여 출력결과와 같은 출력을 해보세요.

```
lst = ["abcd","1234","5678"]

출력결과:
8
7
6
5
4
3
2
1
d
c
b
a
```

In [ ]:
lst = ["abcd","1234","5678"]
for i in lst[::-1]:
    for j in i[::-1]:
        print(j)

8
7
6
5
4
3
2
1
d
c
b
a

44. 다음의 리스트에 모든 값들을 중첩 for문을 이용하여 출력하세요.
```
lst = [
    [ 2000,  550,  2550],
    [ 3400,  850,  4250],
    [54000, 15000, 69000]
]
```

- 출력결과 예시:
```
2000
550
2550
3400
850
4250
54000
15000
69000
```

In [ ]:
lst = [
    [ 2000,  550,  2550],
    [ 3400,  850,  4250],
    [54000, 15000, 69000]
]
for i in lst:
    for j in i:
        print(j)

2000
550
2550
3400
850
4250
54000
15000
69000

45. 실수형태의 문자열을 입력 받아 정수로 변환후 반환 함수를 작성해보세요.

```
s = "3.14"
str2int(s)

Output:
3
```

In [ ]:
def str2int(n):  # 맞는 건지 모르겠습니다.
    x = float(n)
    return int(x)

In [ ]:
s = "3.14"
str2int(s)

3

46. 45번문제에 정의한 함수를 람다 함수로 변경해보세요.

In [ ]:
x = lambda n: int(float(n))
s = "3.14"
str2int(s)

3

47. n개이상(0개포함)의 아규먼트를 받는 함수를 정의해서 받은 아규먼트를 리스트로 반환하는 함수를 작성하세요.

In [ ]:
def I_can_do(*args):
    return list(args)
I_can_do(123,12,312,214,12)

[123, 12, 312, 214, 12]

48. 47번문제에 정의한 함수를 람다 함수로 변경해보세요.

In [ ]:
x = lambda *args: print(list(args))
x(123,12,312,214,12)

[123, 12, 312, 214, 12]

49. 정수값 하나를 인자로 받아 짝수일경우 True, 홀수일경우 False 를 반환하는 함수를 작성하세요.

In [ ]:
def isodd(a):
    if a % 2 == 0:
        print("True")
    else:
        print("False")

isodd(3)

False

50. 49번문제에 정의한 함수를 람다 함수로 변경해보세요.

In [ ]:
isodd = lambda a: print(True) if a % 2 == 0 else print("False")
isodd(4)

True

51. 점수 하나를 인자로 받아 90점대는 "A", 80점대는 "B", 70점대는 "C", 70점 미만은 "F" 를 반환하는 함수를 만드시오.

In [ ]:
def grade(a):
    if a < 100 and a >= 90:
        print("A")
    elif a >= 80:
        print("B")
    elif a >= 70:
        print("C")
    else:
        print("F")
grade(100)

B

52. 다음의 리스트를 인자로 받아 None 값의 총 개수를 반환하는 함수를 작성하시오.
```
lst = [
    [10,None,20,21,None],
    [None,1,20,21,None],
    [10,30,20,21,50],
    [100,21,91,None]
]
```

In [ ]:
lst = [
    [10,None,20,21,None],
    [None,1,20,21,None],
    [10,30,20,21,50],
    [100,21,91,None]
]

def check(a):   # 다른 풀이가 궁금합니다!
    cnt = 0

    for i in lst:
        for j in i:
            if j is None:
                cnt += 1
cnt

5

53. 학생 클래스를 구현하시오
```
생성자에 학번, 학생이름, 나이, 학과를 인자로 받아 인스턴스 변수를 초기화한다.
학점을 추가로 받을수 있는 인스턴스 변수를 리스트 자료형으로 생성한다. 
학점 리스트에 학점을 추가할수 있는 메소드를 구현한다.
학점 리스트에서 평점평균을 반환하는 메소드를 구현한다.
info 메소드를 구현하여 학번, 이름, 나이, 학과, 평점평균을 출력하는 메소드를 구현한다. 
```

In [ ]:
class ClassRoom:
    def __init__(self,num,name,age,major):
        self.num = num
        self.name = name
        self.age = age
        self.major = major
        self.gp_list = []

    def add(self,*args):
        self.gp_list.extend(args) # append는 다량의 정보 못 넣음

    def avg(self):
        return sum(self.gp_list) / len(self.gp_list)
        
    def info(self):
        print(f"학번: {self.num}, 이름: {self.name}, 나이: {self.age}, 학과:{self.major}, 평점평균: {self.avg()}") # 안에서 실행!

In [ ]:
x = ClassRoom(213123,'손용석',25,'산공')
x.add(30,23,42)
x.gp_list
x.info()

학번: 213123, 이름: 손용석, 나이: 25, 학과:산공, 평점평균: 31.666666666666668

54. 다음의 함수에서 `a` , `b` , `c` 변수들이 어떤 변수인지 적으시오.(ex. 파라미터,지역변수,전역변수)

```python
a = 0
def do_func(b):
    c = 0
```

- `a` : 전역변수
- `b` : 파라미터
- `c` : 지역변수

55. 다음의 클래스에 `self` , `a` , `self.a` , `b` , `s`  어떤 변수인지 적으시오.(ex. 파라미터,지역변수,전역변수,인스턴스변수,클래스변수)

```python
class MyClass:
    s = "My Class"
    def do_method(self,a):
        self.a = a
        b = 10
```

- `self` : 파라미터
- `a` : 파라미터
- `self.a` : 인스턴스 변수
- `b` :  지역 변수
- `s` : 클래스 변수