<a href="https://colab.research.google.com/github/soyongseok/playdata/blob/main/%ED%94%8C%EB%A0%88%EC%9D%B4%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%9D%B4%EB%A9%B4%EC%A7%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 마크다운
* 23

```
계좌에 10000원이 들어있습니다.
인출 금액을 입력받습니다.
인출 금액이 'isdigit' 메소드를 이용하여 숫자가 아닐 경우 '유효한 금액을 입력하세요.' 출력

인출 금액이 계좌에 있는 금액보다 크면 '인출 불가능합니다. {}원의 잔액이 부족합니다.' 출력

인출 금액이 계좌에 있는 금액보다 작으면 '{} 원이 인출되었습니다.' 출력

정수가 입력될 경우에는 항상 마지막에 현재 계좌의 잔액을 출력 ('현재 잔액은 {}원입니다.')
```

In [ ]:
account = 10000 # 잔액이 줄어드는 것을 위해 다음 셀에 작성

In [ ]:
a = input("얼마 인출할래?")

if a.isdigit() is False:
    print("유효한 금액을 입력하세요.")

    
elif int(a) > account:
    print(f"인출 불가능합니다. {int(a)-account}원의 잔액이 부족합니다.")
else:
    print(f"{account-int(a)} 원이 인출되었습니다.")

print(f"현재 잔액은 {account-int(a)}원입니다.")

얼마 인출할래?1000
9000 원이 인출되었습니다.
현재 잔액은 9000원입니다.

In [ ]:
model_scores1 = [0.92, 0.83, 0.91, 0.77, 0.99, 0.61, 0.88, 0.76 ,0.75] #  홀수 개수
model_scores2 = [0.92, 0.83, 0.91, 0.77, 0.99, 0.61, 0.88, 0.76, 0.75, 0.51] # 짝수 개수
print(model_scores1)
print(model_scores2)

[0.92, 0.83, 0.91, 0.77, 0.99, 0.61, 0.88, 0.76, 0.75]
[0.92, 0.83, 0.91, 0.77, 0.99, 0.61, 0.88, 0.76, 0.75, 0.51]

In [ ]:
scores = model_scores1
scores = model_scores2

length = len(scores)
index = length // 2

if length % 2:
   res = sorted(scores)[index]
else:
    res = (sorted(scores)[index] + sorted(scores)[index-1])/2
res

0.8

In [ ]:
scores = model_scores1
scores = model_scores2

length = len(scores)
index = length // 2 

if length % 2: # 홀수
    median_val = sorted(scores)[index]
else:          # 짝수
    median_val = (sorted(scores)[index] + sorted(scores)[index-1])/2

print(median_val)

0.8

In [ ]:
age_list = [20,42,None,30,25,None,27,50,60]

age_list

[20, 42, None, 30, 25, None, 27, 50, 60]

In [ ]:
a = len(age_list)

tmp = []

for i in age_list :
    if i is not None:
        tmp.append(i)

res = sum(tmp) / len(tmp)
res = int(res)
res

36

In [ ]:
a = len(age_list)

for j in age_list:
    if j is None:
        print(res)
    else:
        print(j)

20
42
36
30
25
36
27
50
60

In [ ]:
[age if age is not None else avg for age in age_list]   # 복습하기

In [ ]:
age_list[2:6:3] = res

age_list        # 질문 !

TypeError: ignored

In [ ]:
age_list[2:6:3]

[None, None]

In [ ]:
age_list.splice(2)

NameError: ignored

In [ ]:
age_list = [20,42,None,30,25,None,27,50,60]
tmp = [i for i in age_list if i is not None]
avg = sum(tmp) / len(tmp)
avg

36.285714285714285

In [ ]:
age_list = [20,42,None,30,25,None,27,50,60]
[ i if i is not None else avg for i in age_list]

[20, 42, 36.285714285714285, 30, 25, 36.285714285714285, 27, 50, 60]

In [ ]:
pred_list  = [0,1,0,0,0,1,0,0,0,1]
label_list = [0,1,0,1,0,1,0,1,0,1]

res = [i for i,k in zip(pred_list,label_list) if i == k ]
len(res)/ len(pred_list)

0.8

In [ ]:
age_list = [20,42,None,30,25,None,27,50,60]

for i in range(len(age_list)):
    if age_list[i] is None:
        age_list[i]=avg

age_list

[20, 42, 36.285714285714285, 30, 25, 36.285714285714285, 27, 50, 60]

In [ ]:
email_list = ["user1004@gmail.com","user22@naver.com","user30@gmail.com","user100@hanmail.net"]

In [ ]:
def do_func(email_list):
    tmp = []
    for i in email_list:
        res = i.split("@")[0]
        tmp.append(res)
    return tmp

In [ ]:
email_list = ["spdlv9513@naver.com","sad@vmd.com"]
do_func(email_list)

['spdlv9513', 'sad']

# 문제 0)
## 2022-08-02
```
map 함수를 이용해서 enumerate 함수 구현해보자
enumerate 함수가 없다고 가정한다.
ex)
lst = [100,200,300]
enumerate_func = map(func, iterables)
for i,v in enumerate_func:
    print(i,v)
Output:
0 100
1 200
2 300
```

In [ ]:
lst = [100,200,300]
enumerate_func = map(lambda x1,x2: (x1,x2), range(len(lst)),lst)
for i,v in enumerate_func:
    print(i,v)

0 100
1 200
2 300

# 문제 1)
```
행 혹은 행렬 형태의 리스트를 입력 받아 행의 크기와 열의 크기를 튜플로 반환하는 함수를 작성하시오

ex)
shape([]) -> (0,)
shape([1,2,3]) -> (3,)
shape([[1,2,3],[4,5,6]]) -> (2,3)

2차원 행렬 예시:
[
    [1,2,3],
    [4,5,6]
]
```

In [ ]:
def shape(x):
    if len(x) == 0:
        res = 0,
    elif type(x[0]) is list:
        res = (len(x),len(x[0]))
    else:
        res = len(x)
    return res

shape([1,2,3])

3

# 문제 2)
```
행렬 형태의 리스트를 입력 받고 변경하고자하는 행의 크기와 열의 크기로 변환해서 
리스트로  반환 함수를 작성하시오
행과 열의 크기는 튜플로 받는다 . 
무조건 튜플 아니면 -1 입력이 들어온다고 가정한다.
튜플은 무조건 2개의 요소가 포함되서 들어온다고 가정한다.
튜플이 아닌 -1 이 들어올경우 1차원 형태로 flatten 시킨다.

ex)
data = [
       [1,2,3],
       [4,5,6]
]
reshape(data,-1) -> [1,2,3,4,5,6]
reshape(data,(3,2)) -> [[1,2],[3,4],[5,6]]

2차원 행렬 예시:
[
    [1,2],
    [3,4],
    [5,6]
]
```

In [ ]:
data = [
       [1,2,3],
       [4,5,6]
]

In [ ]:
def reshape(lst,shape):
   
    flatten = []
    for i in lst:
        flatten.extend(i)
    res = flatten

    if shape != -1:
        row = shape[0]  # 3
        col = shape[1]  # 2
        res = []
        for i in range(row):    # 0,1,2
            start_index = i * col   # 0 * 2 = 0, 1 * 2 = 2, 2 * 2 = 4
            end_index = start_index + col   # 0 + 2 = 2, 2 + 2 = 4, 4 + 2 = 6 
            x =  flatten[start_index:end_index] # [0:2], [2:4], [4:6]
            res.append(x)

    return res

reshape(data,(3,2))

[[1, 2], [3, 4], [5, 6]]

In [ ]:
x = [1,2,3,4,5,6]   # 슬라이싱
x[0:6]

[1, 2, 3, 4, 5, 6]

# 문제 3)

```
행렬 형태의 리스트를 입력 받고 행렬을 전치하는 함수를 작성하시오
행렬 전치는 열이 행이 되고 행은 열이 된다.

ex)
data = [
       [1,2,3],
       [4,5,6]
]
transpose(data) -> [[1, 4], [2, 5], [3, 6]]

2차원 행렬 예시:
[
    [1, 4], 
    [2, 5], 
    [3, 6]
]

```

In [ ]:
data = [
       [1,2,3],
       [4,5,6]
]
def transpose(x):
    res = [list(i) for i in zip(*x)]
    return res
transpose(data)

In [ ]:
data = [
       [1,2,3],
       [4,5,6]
]
print(*data) # 언패킹한 데이터를 zip함수로 병렬로 정렬

[1, 2, 3] [4, 5, 6]

In [ ]:
data = [
       [1,2,3],
       [4,5,6]
]
def transpose(x):
    res = [i for i in zip(*x)]  # zip함수는 튜플로 반환한다. 그래서 list로 묶어줘야 한다.
    return res
transpose(data)

[(1, 4), (2, 5), (3, 6)]

In [ ]:
data = [
       [1,2,3],
       [4,5,6]
]

def transpose(data):    # 언패킹과 zip 사용

    lst = list(map(list, zip(*data))) # => map 바깥의 list를 빼면 주소값(객체)만 출력된다.
    res = lst
    return res

transpose(data)

[[1, 4], [2, 5], [3, 6]]

#문제 0)
## 2022-08-03

```
다음과 같은 형태의 리스트를 입력받고 , key 이름들을 리스트로 입력 받아 dict 자료형을 생성하는 클래스를 만드시오
ex)
class DictDataset:
    code context
data = [
        [1,2,3,4,5,6,7,8,9],
        [10,20,30,40,50,60,70,80,90]
]
dict_dt = DictDataset(data,["col1","col2"])
dict_dt.dataset
Ouput:
{'col1': [1, 2, 3, 4, 5, 6, 7, 8, 9],
 'col2': [10, 20, 30, 40, 50, 60, 70, 80, 90]}
```

In [ ]:
data = [
        [1,2,3,4,5,6,7,8,9],
        [10,20,30,40,50,60,70,80,90]
]

In [ ]:
class DictDataset:
    def __init__(self,data,lst):
        self.dataset = dict(zip(lst,data))

In [ ]:
dict_dt = DictDataset(data,["col1","col2"])
dict_dt.dataset

{'col1': [1, 2, 3, 4, 5, 6, 7, 8, 9],
 'col2': [10, 20, 30, 40, 50, 60, 70, 80, 90]}

In [ ]:
class DictDataset:
    def __init__(self,data,lst):
        self.dataset = dict(zip(lst,data))


lst = ["col1","col2"]
data = [
        [1,2,3,4,5,6,7,8,9],
        [10,20,30,40,50,60,70,80,90]
]

In [ ]:
dict_dt = DictDataset(data,["col1","col2"])
dict_dt.dataset

{'col1': [1, 2, 3, 4, 5, 6, 7, 8, 9],
 'col2': [10, 20, 30, 40, 50, 60, 70, 80, 90]}

# 문제 1)
```
위에 구현한 클래스에서 추가 메소드를 작성하시오
head 메소드와 tail 메소드를 작성하세요
head 메소드의 경우 인자값이 없을경우 dict의 모든 value의 앞에서 5개의 값들이 key 와 함께 dict 형태로 리턴되게 하세요
tail 메소드의 경우 인자값이 없을경우 dict의 모든 value의 뒤에서 5개의 값들이 key 와 함께 dict 형태로 리턴되게 하세요.
(역순으로 출력되는 것이 아님)
head , tail 모두 인자값이 주어질경우 인자값 개수만큼 value가 나오게 한다.
(1 이상 인자값을 받는다는 가정을 하기 때문에 조건문으로 체크 안해도 됩니다.)
ex)
class DictDataset:
    def __init__(self,lst,keys):
        self.dataset = dict(zip(keys,lst))
        
dict_dt = DictDataset(data,["col1","col2"])
dict_dt.head()
Output:
{'col1': [1, 2, 3, 4, 5], 'col2': [10, 20, 30, 40, 50]}
dict_dt.head(3)
Output:
{'col1': [1, 2, 3], 'col2': [10, 20, 30]}
dict_dt.tail()
Output:
{'col1': [5, 6, 7, 8, 9], 'col2': [50, 60, 70, 80, 90]}
dict_dt.tail(3)
Output:
{'col1': [7, 8, 9], 'col2': [70, 80, 90]}
```

In [ ]:
class DictDataset:
    def __init__(self,lst,keys):
        self.dataset = dict(zip(keys,lst))

    def head (self,num=5):
        return { k:v[:num] for k,v in self.dataset.items() }

    def tail (self,num=5):
        return { k:v[-num:] for k,v in self.dataset.items() }

data = [
        [1,2,3,4,5,6,7,8,9],
        [10,20,30,40,50,60,70,80,90]
]
keys = ["col1","col2"]

In [ ]:
x = DictDataset(data,keys)
x.dataset
x.head(3)
x.tail()

{'col1': [5, 6, 7, 8, 9], 'col2': [50, 60, 70, 80, 90]}

['col1', 'col2']

# 문제 3)
```
구현한 클래스에서 추가 메소드를 작성하시오
rename 메소드를 작성하세요
딕셔너리를 입력 받아 인스턴스 변수인 dataset의 key를 변경하는 메소드를 작성하세요.
ex)
dict_dt = DictDataset(data,["col1","col2"])
keys_rename = {
    "col1" : "num1",
    "col2" : "num2"
}
dict_dt.rename(keys_rename)
dict_dt.dataset
Output:
{'num1': [1, 2, 3, 4, 5, 6, 7, 8, 9],
 'num2': [10, 20, 30, 40, 50, 60, 70, 80, 90]}
```

In [ ]:
class DictDataset:
    def __init__(self,lst,keys):
        self.dataset = dict(zip(keys,lst))

    def rename(self,keys):
        for k,v in keys.items():
            self.dataset[v] = self.dataset.pop(k)

In [ ]:
dict_dt = DictDataset(data,["col1","col2"])
keys_rename = {
    "col1" : "num1",
    "col2" : "num2"
}
dict_dt.rename(keys_rename)
dict_dt.dataset

{'num1': [1, 2, 3, 4, 5, 6, 7, 8, 9],
 'num2': [10, 20, 30, 40, 50, 60, 70, 80, 90]}

{'num1': [1, 2, 3, 4, 5, 6, 7, 8, 9],
 'num2': [10, 20, 30, 40, 50, 60, 70, 80, 90]}

In [ ]:
x = {'col1': [5, 6, 7, 8, 9], 'col2': [50, 60, 70, 80, 90]}

keys = {
    "col1" : "num1",
    "col2" : "num2"
}

for k,v in keys.items():
    x[v] = x.pop(k)     # value는 [] 사용해야함!
    
x

{'num1': [5, 6, 7, 8, 9], 'num2': [50, 60, 70, 80, 90]}

# 문제0
## 2022-08-04

In [ ]:
class Calculator:
    def __init__(self,num=0):
        self.num = num
        
    def add(self,num): # 한개의 정수를 입력 받아 self.num 더하기, 반환값 X
        pass
    def sub(self,num): # 한개의 정수를 입력 받아 self.num 빼기, 반환값 X
        pass
    def mul(self,num): # 한개의 정수를 입력 받아 self.num 곱하기, 반환값 X
        pass
    def div(self,num): # 한개의 정수를 입력 받아 self.num 나누기, 반환값 X
        pass
    def result(self):
        return self.num

    def reset(self):
        self.num = 0

In [ ]:
class My(Calculator):
    def __init__(self,n):
        self.n = n
        super().__init__()
    
    def add(self,n):
        if type(n) is int:
            self.n = self.n + n
        else:
            print("입력값이 정수가 아닙니다. 입력값을 0으로 변경합니다.")
    
    def sub(self,n): 
        self.n -= self.gets(n)
    def mul(self,n):
        if self.gets(n):
            self.n *= n
    def div(self,n): 
        if self.gets(n):
            self.n /= n
    def result(self):
        return self.n

    def gets(self,n):
        if type(n) is not int:
            print("입력값이 정수가 아닙니다. 입력값을 0으로 변경합니다.")
            n = 0
        return n

In [ ]:
a = My(4)
a.div(2)
a.result()

2.0

13번,22번,23번,29번,32번,40번,50번

In [ ]:
def solution(a, b):
    answer = 0
    for i in range(a):
        for j in range(b):
            
    return answer

IndentationError: ignored

In [ ]:
a = 3
b = 5
tmp = []
for i in range(a,b+1):
    tmp.append(i)

x = sum(tmp)
x

12

In [ ]:
def solution(a, b):
    tmp = []
    if a < b:
        for i in range(a,b+1):
            tmp.append(i)
    else:
        for i in range(b,a+1):
            tmp.append(i)
    x = sum(tmp)
            
    return x

In [ ]:
solution(5,3)

12

In [ ]:
def sol(a):
    if a % 2 == 0:
            return "수박"*(a//2)
    else:
            return "수박"*(a//2)+"수"
    
sol(5)

'수박수박수'

In [ ]:
def solution(seoul):
    for i,k in enumerate(seoul):
        if k == "Kim":
            return (f"김서방은 {i}에 있다")

In [ ]:
seoul = ["Jane","Kim"]
solution(seoul)

'김서방은 1에 있다'

In [ ]:
def solution(n):
    tmp = []
    for i in range(1,n+1):
        if n % i == 0:   # 나머지가 0이면 약수!
            tmp.append(i)
    return sum(tmp)

In [ ]:
solution(12)

28

In [ ]:
def solution(s):
    if (s.count("p") + s.count("P")) == (s.count("y") + s.count("Y")):
        return True
    else: 
        return False

In [ ]:
solution("Pyy")

False

In [ ]:
def solution(arr):
    tmp = [arr[0]]
    for i in arr[1:]:
        if tmp[-1] != i:    # tmp[-1]을 이용하여 들어온 값을 반복하여 비교한다.
            tmp.append(i)
    return tmp

In [ ]:
solution(x)

[1, 3, 0, 1]

In [ ]:
def solution(s):
    if len(s) % 2 == 0:
        for i in range(len(s)):
            x = s[i//2:(i//2)+2]
    else:
        for i in range(len(s)):
            x = s[(i//2)]
    return x

In [ ]:
solution("abcd")

'bc'

In [ ]:
def solution(a,b):
    tmp = []
    for i in range(1,b+1):
        tmp.append(i*a)

    return tmp

In [ ]:
solution(2,5)

[2, 4, 6, 8, 10]

In [ ]:
a, b = map(int, input().strip().split(' '))
for i in range(b):
    print(a*"*")

5 3
*****
*****
*****

# 다시보기! 행렬의 덧셈

In [ ]:
def solution(arr1,arr2):
    x = []
    for i,k in zip(arr1,arr2):
        w = []
        for a,b in zip(i,k):
            w.append(a+b)
        x.append(w)
    return x

[[1, 3], [2, 4]]

In [ ]:
def solution(num):
    if num % 2 == 0:
       return ("Even")
    else:
      return  ("Odd")

In [ ]:
solution(2)

'Even'

In [ ]:
def solution(n):
    tmp = []
    for i in str(n):
        tmp.append(int(i))
    x = sum(tmp)
    return x

In [ ]:
solution(987)

24

In [ ]:
n = 3
m = 12

In [ ]:
5%2

1