<a href="https://colab.research.google.com/github/soyongseok/playdata/blob/main/04_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 제어문
- 코드의 `흐름`을 제어하는 문법
- 주어진 조건에 따라 반복해서 코드를 실행할 때 사용하는 것을 제어문이라고 한다.

# 조건문(Condition)
- 특정 조건을 만족하면(`True`) 코드를 실행
- `if`, `elif`, `else`
    - 우리 다음과 같이 `if elif else` 만을 이용해서 조건문을 만든다고 가정함
    - `if`의 조건이 참이면 실행해라
    - `elif`(else if 약어) : 그게아니고.... elif의 조건이 참이면 실행해라
    - `else` : `if` 와 `elif` 모두 조건이 참이 아니라면 실행해라
- 조건문 구조
```python
if <condition>:
    code content
elif <condition>:
    code content
...
...
...
else:
    code content
```

In [ ]:
accuracy = 0.9
if accuracy >= 0.9:
    print("와우 최고의 인공지능 모델이네요")
elif accuracy < 0.9 and accuracy >= 0.8:
    print("좋은 모델이네요")
elif accuracy < 0.8 and accuracy >= 0.7:
    print("평범한 모델이네요")
else:
    print("차라리 제가 예측하겠습니다.")

와우 최고의 인공지능 모델이네요

- if 문은 단독으로 사용가능

In [ ]:
10 / 0

ZeroDivisionError: ignored

In [ ]:
num = 0 # True로 인식해서 출력이 안됨
if num != 0:
    print(10/num)

In [ ]:
num = 2
if num: # 0과 None 객체가 아닐 경우 True
    print(10/ num)

5.0

In [ ]:
num = 0
if num != 0:
    print(10 / num)
else:
    print("0으로 나눌 수 없습니다.")

0으로 나눌 수 없습니다.

In [ ]:
num = -1
if num > 0:
    print(10 / num)
elif num < 0:
    print("양수만 넣어주세요")
else:
    print("0으로 나눌 수 없습니다.")

양수만 넣어주세요

```
회원가입 시 넘어온 나이값이 정수형이면 `정상값`을 출력
그게 아니면 `잘못된 값`을 출력하는 프로그램을 만들어 봅시다.
```

In [ ]:
age = 25
if type(age) == int:
    print("정상값")
else:
    print("잘못된 값")

정상값

```
회원가입 시 나이값이 100이상이면 "유효한 나이를 입력해주세요." 를 출력
0 미만이면(음수)이면 "태어난거 맞나요?" 출력
0 ~ 99 "DB저장완료" 출력
```

In [ ]:
age = 25

if age >= 100:
    print("유효한 나이를 입력해주세요.")
elif age < 0:
    print("태어난거 맞나요?")
else:
    print("DB저장완료")

DB저장완료

## 중첩 조건문
- 조건문 안에 조건문을 사용할 수 있다.

In [ ]:
age = 18
if age > 99 or age < 0:
    print("유효한 나이를 입력해주세요.")
else:
    if age < 20:
        print("20세 이상만 회원가입이 가능합니다.")
    else:
        print("DB 저장 완료")

20세 이상만 회원가입이 가능합니다.

```
source = [90, 100, 51, 96, 66, 83]
Max 라는 단어를 입력받으면 최대값을 출력
Min 이라는 단어를 입력받으면 최소값을 출력
Mean 이라는 단어를 입력받으면 평균을 출력
Max, Min, Mean 외에 다른 단어를 입력 받으면 "똑바로 입력하세요" 를 출력해서 혼내주자
```

In [ ]:
source = [90, 100, 51, 96, 66, 83]
age = input("Max, Min, Mean: ")

source_sort = sorted(source)

if age == 'Max':
    print(source_sort[-1])
elif age == 'Min':
    print(source_sort[0])
elif age == "Mean":
    print(sum(source) / len(source))
else:
    print("똑바로 입력하세요")

Max, Min, Mean: Mean
81.0

## 문제
```
계좌에 10000원이 들어있습니다.
인출 금액을 입력받습니다.
인출 금액이 'isdigit' 메소드를 이용하여 숫자가 아닐 경우 '유효한 금액을 입력하세요.' 출력

인출 금액이 계좌에 있는 금액보다 크면 '인출 불가능합니다. {}원의 잔액이 부족합니다.' 출력

인출 금액이 계좌에 있는 금액보다 작으면 '{} 원이 인출되었습니다.' 출력

정수가 입력될 경우에는 항상 마지막에 현재 계좌의 잔액을 출력 ('현재 잔액은 {}원입니다.')
```

In [ ]:
account = 10000 # 잔액이 줄어드는 것을 위해 다음 셀에 작성

In [ ]:
money = input("얼마 인출 할래?")    # 내 풀이

if money != money.isdigit():
    print("유효한 금액을 입력하세요.")
    money = int(money)
    if money > account:
        print(f"인출이 불가능합니다. {money - account}원의 잔액이 부족합니다.")
    else:
        account -= money
        print(f"{money}원이 인출되었습니다.")

    print(f"현재 잔액은 {account}원입니다.")

얼마 인출 할래?300
유효한 금액을 입력하세요.
300원이 인출되었습니다.
현재 잔액은 9700원입니다.

In [ ]:
money = input("얼마 인출 할래?")    # 강사님 풀이

if money.isdigit():         # 정수 판별 메소드: isdigit
    money = int(money)
    if account < money:
        print(f"인출이 불가능합니다. {money - account}원의 잔액이 부족합니다.")
    else:
        account -= money
        print(f"{money}원이 인출되었습니다")
    
    print(f"현재 잔액은 {account} 원입니다.")
else:    
    print(f"유효한 금액을 입력하세요.")

얼마 인출 할래?9000
9000원이 인출되었습니다
현재 잔액은 1000 원입니다.

- 중앙값
    - 주어진 값을 크기 순으로 순서대로 정렬했을 때 가장 중앙에 위치한 값
    - 이상치에 영향을 받지 않는다.

- 조건문을 이용하여 중앙값을 추출하는 코드를 작성하세요.

In [ ]:
model_scores1 = [0.92, 0.83, 0.91, 0.77, 0.99, 0.61, 0.88, 0.76 ,0.75] #  홀수 개수
model_scores2 = [0.92, 0.83, 0.91, 0.77, 0.99, 0.61, 0.88, 0.76, 0.75, 0.51] # 짝수 개수
print(model_scores1)
print(model_scores2)

[0.92, 0.83, 0.91, 0.77, 0.99, 0.61, 0.88, 0.76, 0.75]
[0.92, 0.83, 0.91, 0.77, 0.99, 0.61, 0.88, 0.76, 0.75, 0.51]

In [ ]:
scores = model_scores1
scores = model_scores2

length = len(scores)
index = length // 2 

if length % 2: # 홀수
    median_val = sorted(scores)[index]
else:          # 짝수
    median_val = (sorted(scores)[index] + sorted(scores)[index-1])/2

print(median_val)

0.8

# 반복문(loop)
- 반복적으로 코드를 수정할 때 사용

## `while` 
- 조건이 참(`True`)인 동안 반복
- 무한 반복 주의
```python
while <condition>:
    code context
```

- 3단 출력해보기

In [ ]:
n = 3   # 3단
i = 1   # 곱하는 수 1 ~ 9까지 증가한다.

while i < 10: # i(곱하는 수가) 10보다 작으면 반복해라
    print(f"{n} X {i} = {n*i}")
    i += 1

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [ ]:
n = 3   # 3단
i = 0   # 곱하는 수 1 ~ 9까지 증가한다.

while i < 10: # i(곱하는 수가) 10보다 작으면 반복해라
    i += 1
    print(f"{n} X {i} = {n*i}") # 먼저 더해지고 결과가 나와 10까지 나온다!

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

- `break` : 해당 반복문을 빠져 나온다.

In [ ]:
n = 9
i = 1
while True:
    print(f"{n} X {i} = {n*i}")
    i += 1
    if i > 9: 
        break

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

- `continue`
    - 진행을 중단하고 다음 반복으로 넘어간다.

In [ ]:
n = 3
i = 1
while i < 10:
    if i % 2 != 0:
        i += 1
        continue  # 다시 위의 반복문으로 이동

    print(f"{n} X {i} = {n*i}")
    i += 1

3 X 2 = 6
3 X 4 = 12
3 X 6 = 18
3 X 8 = 24

```
다음과 같이 한영사전이 dict 형태로 되어있다.
{'사과' : 'Apple', '바나나': 'Banana', '딸기' : 'Strawberry'}
사용자의 입력을 받아 사전에 없는 단어(Key)를 입력받으면 "사전에 없습니다. 다시 입력하세요" 출력하고 입력대기 
사전에 단어(key)가 있으면 해당되는 단어(value)를 출력하고 반복문을 빠져나오게 하자.
```

In [ ]:
fruits = {'사과' : 'Apple', '바나나' : 'Banana', '딸기' : 'Strawberry'}
while True:
    word = input("과일단어 입력: ")
    word = fruits.get(word) # 0과 none이 들어가면 실행이 안된다.(그래서 get함수 사용)
    if word:
        print(word)
        break
    else:
        print("사전에 없습니다. 다시입력하세요")

과일단어 입력: 참외
사전에 없습니다. 다시입력하세요
과일단어 입력: 포도
사전에 없습니다. 다시입력하세요
과일단어 입력: 딸기
Strawberry

```
다음과 같이 학습에 사용할 나이 데이터가 리스트에 담겨있다.
age_list = [20,42,None,30,25,None,27,50,60]
None 값들은 결측치
None 값들을 제외한 나이값들의 평균을 구하시오.
```

In [ ]:
age_list = [20,42,None,30,25,None,27,50,60]

age_list

[20, 42, None, 30, 25, None, 27, 50, 60]

In [ ]:
index = len(age_list)

tmp = []

while index:
    index -= 1  # -1을 하기 위해 len으로 변환
    if age_list[index] is not None:
        tmp.append(age_list[index])
avg = sum(tmp) / len(tmp)
avg = int(avg)
avg

36

``` 구한 평균 값으로 age_list의 결측치(None)를 채우세요.```

In [ ]:
index = len(age_list)
while index:
    index -= 1
    if age_list[index] is None:
        age_list[index] = avg
age_list

[20, 42, 36, 30, 25, 36, 27, 50, 60]

- 중첩 while 문

In [ ]:
i = 1
while i < 3:
    print(f"{i}번째 바깥쪽 while 문 입니다.")
    i += 1

    j = 1
    while j < 6:
        print(f"    {j}번째 안쪽 while 문 입니다.")
        j += 1

1번째 바깥쪽 while 문 입니다.
    1번째 안쪽 while 문 입니다.
    2번째 안쪽 while 문 입니다.
    3번째 안쪽 while 문 입니다.
    4번째 안쪽 while 문 입니다.
    5번째 안쪽 while 문 입니다.
2번째 바깥쪽 while 문 입니다.
    1번째 안쪽 while 문 입니다.
    2번째 안쪽 while 문 입니다.
    3번째 안쪽 while 문 입니다.
    4번째 안쪽 while 문 입니다.
    5번째 안쪽 while 문 입니다.

- 중첩 while문 사용하여 구구단 출력하기
```
2 단 입니다.
2 X 1 = 2
2 X 2 = 4
...
2 X 9 = 18
...
...
...
9 단 입니다
9 X 1 = 9
9 X 2 = 18
...
9 X 9 = 81
```

In [ ]:
i = 1
while i < 10:
     print(f"{i+1}단 입니다.")
     i += 1

     j = 1
     while j < 10:
        print(f"{i} X {j} = {i*j}")
        j += 1

2단 입니다.
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3단 입니다.
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4단 입니다.
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5단 입니다.
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6단 입니다.
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7단 입니다.
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8단 입니다.
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9단 입니다.
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
10단 입니다.
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90

## `for`
- 반복 가능(iterable)한 객체를 더이상 꺼낼 수 없을 때까지 반복한다.
- `list`, `tuple`, `set`, `dict`, `str`

```python
for <variable> in <iterable>:
    code content
```

In [ ]:
lst = [1,2,3,4]
for item in lst:   # 받아줄 변수 = item
    print(item **2)

1
4
9
16

In [ ]:
 n = 9
 lst = [1,2,3,4,5,6,7,8,9]
 for i in lst:
    print(f"{n} X {i} = {n*i}")

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

```
for문과 조건문을 이용하여 다음의 리스트에서 음수만 출력하세요
lst = [-2,1,4,-88,-12,-12]
```

In [ ]:
lst = [-2,1,4,-88,12,-12]

for i in lst:   # lst를 i(변수) 안에 넣음
    if i < 0:   # 그래서 lst가 아닌 i를 넣어야함
        print(i)

-2
-88
-12

```
for문과 조건문을 사용하여 다음의 리스트에서 3의 배수만을 출력하시오
lst = [3,33,100,23,81,44]
```

In [ ]:
lst = [3,33,100,23,81,44]
for i in lst:
    if i % 3 == 0:
        print(i)

3
33
81

```
다음의 리스트에서 50미만의 3의 배수만 출력
lst = [3,33,100,23,81,44]
```

In [ ]:
lst = [3,33,100,23,81,44]
for i in lst:
    if i % 3 == 0 and i < 50:
        print(i)

3
33

```
다음과 같이 리스트에 동물 이름이 있다. 첫글자를 대문자로 변경해서 출력하세요.
lst = ["dog","cat","rabbit"]
```

In [ ]:
lst = ["dog","cat","rabbit"]

for i in lst:
      print(i[0].upper() + i[1::])

Dog
Cat
Rabbit

```
다음과 같이 이메일 리스트에 담겨 있다. for 문과 문자열 메소드를 이용하여 아이디만 출력해보세요

email_list = ["user1004@gmail.com","user100@naver.com","user1@gmail.com","user14@hanmail.net"]
```

In [ ]:
email_list = ["user1004@gmail.com","user100@naver.com","user1@gmail.com","user14@hanmail.net"]

for i in email_list:
    print(i.split("@")[0])

user1004
user100
user1
user14

```
gmail에 해당하는 이메일 주소만 출력하세요.
email_list = ["user1004@gmail.com","user100@naver.com","user1@gmail.com","user14@hanmail.net"]
```

In [ ]:
email_list = ["user1004@gmailcom","user100@naver.com","user1@gmail.com","user14@hanmail.net"]

for i in email_list:
    if i.endswith("gmail.com"):
        print(i)

user1@gmail.com

### `range` 함수
- 특정 구간의 숫자의 범위를 만들어 주는 함수
- 슬라이싱 기법을 이용해서 숫자의 범위를 만들어준다.
- 파이썬의 range 라는 숫자의 범위를 가진 iterable한 특수한 객체를 반환
- for문과 자주 사용된다.

In [ ]:
range(0,10) # 숫자 0~9까지 순차적으로 뽑겠다는 말

range(0, 10)

In [ ]:
range(10)   # range(0,10)와 같다.

range(0, 10)

In [ ]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [ ]:
list(range(10,0,-1))  # 역순 (슬라이싱과 살짝 차이남)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
i = 9
for i in range(1,10):
    print(f"{n} X {i} = {n*i}")

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

```
for 와 range 함수를 사용해서 1 ~ 40까지 숫자들 중에서 4의 배수만 출력해보세요.
```

In [ ]:
for i in range(1,41):   # 내 답
    if i % 4 == 0:
        print(i)

4
8
12
16
20
24
28
32
36
40

In [ ]:
for i in range(4,41,4): # 강사님 답
    print(i)

4
8
12
16
20
24
28
32
36
40

In [ ]:
for x in range(40,3,-4):
    print(x)

40
36
32
28
24
20
16
12
8
4

In [ ]:
-----------------------------00----------------------------------

SyntaxError: ignored

### 중첩 `for` 문

In [ ]:
for n in range(2,10):   # 바깥쪽
    print(f"{n}단 입니다.")
    for i in range(1,10):   # 안쪽
        print(f"{n} X {i} = {n*i}")

2단 입니다.
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3단 입니다.
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4단 입니다.
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5단 입니다.
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6단 입니다.
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7단 입니다.
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8단 입니다.
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9단 입니다.
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
print("출력 후 자동 줄바꿈이 되는 이유는\n")
print("뭘까?")

출력 후 자동 줄바꿈이 되는 이유는

뭘까?

In [ ]:
print?

In [ ]:
print() # 줄바꿈만 함
print()
print()
print()

In [ ]:
print(end=" ")  # 띄어쓰기 3개
print(end=" ")
print(end=" ")

```
*
**
***
****
*****
```

In [ ]:
n = 5

for i in range(n):
    for j in range(i+1):
        print("*",end = "")
    print() # 줄바꿈 해줌

*
**
***
****
*****

```
    *
   **
  ***
 ****
*****
```

In [ ]:
n = 5

for i in range(n):
    for _ in range(n-i-1):   # 공백 for문
        print(" ", end = "") # end 함수는 출력값과 출력값을 이어줌
    for _ in range(i+1):
        print("*", end = "")
    print()

    *
   **
  ***
 ****
*****

```
*****
 ****
  ***
   **
    *
```

In [ ]:
n = 5

for i in range(n):
    for _ in range(i):   # 공백 for문
        print(" ", end = "") # end 함수는 출력값과 출력값을 이어줌
    for _ in range(n-i):
        print("*", end = "")
    print()

*****
 ****
  ***
   **
    *

- 가로 구구단 출력하기
```
2 X 1 = 2    3 X 1 = 3    .... 9 X 1 = 9
2 X 2 = 4    3 X 2 = 6    .... 9 X 2 = 18
...
...
2 X 9 = 18   3 X 9 = 27   .... 9 X 9 = 81
```

In [ ]:
for n in range(1,10):   # 바깥쪽
    for i in range(2,10):   # 안쪽
        print(f"{i} X {n} = {n*i}", end = "\t")
    print()

2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

- 각 학생들의 평균과의 점수 차이인 편차를 알고 싶다면?

In [ ]:
scores = [90,81,65,77,98,70,82]
avg = sum(scores) / len(scores)
for score in scores:
    deviation = avg - score
    print(deviation)

-9.57142857142857
-0.5714285714285694
15.42857142857143
3.4285714285714306
-17.57142857142857
10.42857142857143
-1.5714285714285694

- 편차의 평균인 표준편차를 구해보자
$$
\mu = \frac{1}{N}\sum_{i=1}^{N}x_i
$$

$$
\sigma^{2} = \frac{1}{N}\sum_{i=1}^{N}(x_i - \mu)^{2}
$$

In [ ]:
scores = [90,81,65,77,98,70,82]
avg = sum(scores) / len(scores)
deviation_list = []

for score in scores:
    deviation = avg - score
    deviation_list.append(deviation**2)
var = sum(deviation_list) / len(deviation_list)
var

108.81632653061224

In [ ]:
var ** 0.5 # 표준편차

10.431506436302104

- Min-Max Scaling
    - 데이터의 수치의 범위를 바꿔주는 정규화 스케일링 기법이다.
    - 데이터의 범위를 0~1 사이로 바꿔준다.
```
나이데이터 = [20,30,60,65,38,63]
연봉데이터 = [3000,3500,4000,9000,8000,12000]
```
$$
\frac{x-Min(X)}{Max(X)-Min(X)}
$$

In [ ]:
lst = [20,30,60,65,38,63]   # 내 풀이
minmax = [] # 스케일링을 넣을 데이터

for i in lst:
    res = (i - min(lst)) / (max(lst) - min(lst))
    minmax.append(res)
minmax

[0.0, 0.2222222222222222, 0.8888888888888888, 1.0, 0.4, 0.9555555555555556]

In [ ]:
lst = [20,30,60,65,38,63]   # 강사님 풀이
minmax = [] # 스케일링을 넣을 데이터

min_value = min(lst)
size_value = max(lst) - min_value

for x in lst:
    x = (x-min_value) / size_value
    minmax.append(x)
minmax

[0.0, 0.2222222222222222, 0.8888888888888888, 1.0, 0.4, 0.9555555555555556]

In [ ]:
for x in minmax:
    x =  x * size_value + min_value
    print(x)

20.0
30.0
60.0
65.0
38.0
63.0

- 주어진 데이터에서 최빈값(가장 많이 나온 값)을 구하시오
```
grades = ["A-","A" ,"A+","B","A","A","A+","A-","B","B","B","C+","C","C+","C"]
```

In [ ]:
grades = ["A-","A" ,"A+","B","A","A","A+","A-","B","B","B","C+","C","C+","C"]

grade = set(grades)

mode = []


for i in grades:
    i.count(grade)
    mode.append()

print(mode)

'B'

In [ ]:
grades = ["A-","A" ,"A+","B","A","A","A+","A-","B","B","B","C+","C","C+","C"]
# 데이터를 뽑아내는 능력 필요!

cnt = 0 # 값의 개수를 체크하기 위한 용도

for i in set(grades):   # 중복을 제거 해줌
    if cnt < grades.count(i):   # 비교 대상을 만들어줌
        cnt = grades.count(i)   # 현재 최빈값의 개수보다 클 경우 cnt에 넣음
        mode = i    # 최빈값을 mode 변수에 저장
mode

'B'

- 문자열도 iterable 하다.

In [ ]:
text = "Hello word"

for s in text:
    print(s)

H
e
l
l
o

w
o
r
d

In [ ]:
text = "Hello word"

cnt = 0

for s in text:
    if s == "l":
        cnt += 1
print(cnt)

2

### `enumerate` 함수
- iterable한 객체를 꺼낼 때 인덱스도 같이 꺼낸다.

In [ ]:
score_list = [90,87,93]
i = 0
for score in score_list:
    print(f"{i}번째 인덱스의 점수는 {score}")
    i += 1
# 이것을 enumerate 함수로 변환!

0번째 인덱스의 점수는 90
1번째 인덱스의 점수는 87
2번째 인덱스의 점수는 93

In [ ]:
for i, score in enumerate(score_list):
    print(f"{i}번째 인덱스의 점수는 {score}")

0번째 인덱스의 점수는 90
1번째 인덱스의 점수는 87
2번째 인덱스의 점수는 93

In [ ]:
enumerate(score_list)

In [ ]:
list(enumerate(score_list)) # 인덱스랑 값을 같이 넣을 수 있다.

[(0, 90), (1, 87), (2, 93)]

In [ ]:
dict(enumerate(score_list))

{0: 90, 1: 87, 2: 93}

### `zip` 함수
- 여러개의 컬렉션 자료형을 하나로 모아서 병렬로 꺼낸다.

In [ ]:
class_list = ["A반","B반","C반"]
score_list = [90, 87, 93]

length = len(class_list)    # list 길이를 출력
for i in range(length):     # list의 위치 값을 출력
    print(f"{class_list[i]}의 점수는 {score_list[i]}점 입니다.")
# zip함수로 변환

3

In [ ]:
for c,s in zip(class_list,score_list):
    print(f"{c}의 점수는 {s}점 입니다.")

A반의 점수는 90점 입니다.
B반의 점수는 87점 입니다.
C반의 점수는 93점 입니다.

In [ ]:
score_list2 = [70,50,63]
for c, s, s2 in zip(class_list, score_list, score_list2):
    print(f"{c} {s} {s2}")

A반 90 70
B반 87 50
C반 93 63

In [ ]:
zip(class_list,score_list)

In [ ]:
list(zip(class_list,score_list))

[('A반', 90), ('B반', 87), ('C반', 93)]

In [ ]:
dict(zip(class_list,score_list))

{'A반': 90, 'B반': 87, 'C반': 93}

In [ ]:
lst1 = [10,20,30,40,50,60]
lst2 = ["A","B","C"]

for item1,item2 in zip(lst1,lst2):
    print(item1, item2)

10 A
20 B
30 C

### `dict` for 문

In [ ]:
score_dict = {
    "국어":100,
    "수학":80,
    "영어":65
}

score_dict.keys()   # 리스트 형식으로 감싸져서 for 문이 가능

dict_keys(['국어', '수학', '영어'])

In [ ]:
for k in score_dict.keys():
    print(f"{k}는 {score_dict[k]}점")

국어는 100점
수학는 80점
영어는 65점

In [ ]:
score_dict.values()

dict_values([100, 80, 65])

In [ ]:
for value in score_dict.values():
    print(f"{value}")

100
80
65

In [ ]:
score_dict.items()

dict_items([('국어', 100), ('수학', 80), ('영어', 65)])

In [ ]:
for k, v in score_dict.items():
    print(f"{k} 는 {v}점")

국어 는 100점
수학 는 80점
영어 는 65점

```
연필 20% 할인가격: 400.0원
공책 20% 할인가격: 960.0원
신발 20% 할인가격: 46400.0원
```

In [ ]:
sale = { '연필' : 500, '공책':1200, '신발':58000}

for k, v in sale.items():
    print(f"{k} 20% 할인가격: {v*0.8}원")

연필 20% 할인가격: 400.0원
공책 20% 할인가격: 960.0원
신발 20% 할인가격: 46400.0원

# 파이써닉(pythonic)한 코드
- 간결하고 가독성있게 코딩하자.

## 삼항 연산자
- 파이썬이 아닌 다른 언어들은 삼항 연산자(?)가 존재하지만...파이썬은 없음!
- `if`, `else` 를 사용하여 삼항 연산 수행
```python
<True 일 때 사용할 값> if <condition> else <False 일 때 사용할 값>
```

In [ ]:
age = 20
if age >= 20:
    msg = "회원가입 가능"
else:
    msg = "회원가입 불가능"

print(msg)

회원가입 가능

In [ ]:
age = 20    # 삼항 연산자 사용
msg = "회원가입 가능" if age >= 20 else "회원가입 불가능"

print(msg)

회원가입 가능

In [ ]:
if age >= 20: msg = "회원가입 가능" 
msg

'회원가입 가능'

In [ ]:
for i in range(3): print(i)

0
1
2

## 컴프리헨션 (Comprehension)
- 반복 가능한 객체를 활용 새로운 반복가능한 객체를 만들 때 유용하다.
- `list`,`set`,`dict` 자료형을 간단하게 만드는 문법
- 'tuple'은 컴프리헨션 지원 안한다.

list comprehension
```python
[<추가할 값> for <변수> in <컬렉션> if(생략 가능!) <값에 대한 조건>]
```

In [ ]:
result = []
for data in range(1,6):
    result.append(data**2)
result
# 컴프리헨션으로 변환

[1, 4, 9, 16, 25]

In [ ]:
result = [data ** 2 for data in range(1,6)]
result

[1, 4, 9, 16, 25]

In [ ]:
num_list = list(range(1,21))
num_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
result = [num for num in num_list if num % 2 == 0]
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
result = [num ** 2 if num % 2 == 0 else num for num in num_list] # else 추가 시 앞에다가 if문 넣기!
result

[1,
 4,
 3,
 16,
 5,
 36,
 7,
 64,
 9,
 100,
 11,
 144,
 13,
 196,
 15,
 256,
 17,
 324,
 19,
 400]

In [ ]:
result = [num ** 2 if num % 2 == 0 else ----- num for num in num_list] # elif 추가 시 가독성이 떨어지기 때문에 for문으로 작성하기!
result

[-1,
 4,
 -3,
 16,
 -5,
 36,
 -7,
 64,
 -9,
 100,
 -11,
 144,
 -13,
 196,
 -15,
 256,
 -17,
 324,
 -19,
 400]

In [ ]:
[f"{n} X {i} = {n*i}" for n in range(2,10) for i in range(1,10)]    # 중첩 for 문

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

In [ ]:
%%timeit
lst = []    # 실행 속도 테스트
for data in range(1, 100001):
    lst.append(data)

100 loops, best of 5: 8.48 ms per loop

In [ ]:
%%timeit
lst = [data for data in range(1, 100001)]   # 훨씬 빠르다.

100 loops, best of 5: 4.82 ms per loop

```
s_list = []
for w in 'Python':
    s_list.append(w)
s_list
```

In [ ]:
s_list = [ w for w in 'Python']
s_list

['P', 'y', 't', 'h', 'o', 'n']

```python
lib_list = ["pandas","numpy","sklearn","pytorch"]
lst = []
for i, v in enumerate(lib_list)
    lst.append((i,v))
lst
```

In [ ]:
lib_list = ["pandas","numpy","sklearn","pytorch"]
lst = [(i,v) for i,v in enumerate(lib_list)]
lst

[(0, 'pandas'), (1, 'numpy'), (2, 'sklearn'), (3, 'pytorch')]

```python
n_list = []
for x in zip((1,2,3),(10,20,30),(100,200,300)):
    n_list.append(sum(x))
n_list
```

In [ ]:
n_lst = [sum(x) for x in zip((1,2,3),(10,20,30),(100,200,300))]
n_lst

[111, 222, 333]

```python
n_list = []
for i in range(100):
    if i % 10 == 0:
        n_list.append(i)
n_list
```

In [ ]:
n_list = [i for i in range(100) if i % 10 == 0]
n_list

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

```python
s_list = []
for i in range(1,11):
    if i % 2 == 0:
        s_list.append("짝수")
    else:
        s_list.append("홀수")
s_list
```

In [ ]:
s_list = ["짝수" if i % 2 == 0 else "훌수" for i in range(1,11)]
s_list

['훌수', '짝수', '훌수', '짝수', '훌수', '짝수', '훌수', '짝수', '훌수', '짝수']

```python
exe 와 py 확장자 파일만 리스트 컴프리헨션을 이용해서 새로운 리스트에 담아주세요.
```

In [ ]:
files = ["magage.py","run.exe","urls.py","runbat","image.jpg"]
[f for f in files if f.endswith(".py") or f.endswith(".exe")]         # 답 => f.endswith("py"), 내 생각 = files.endswith("py")

['magage.py', 'run.exe', 'urls.py']

```
다음의 리스트에서 2,5,6 만 리스트 컴프리헨션을 이용해서 새로운 리스트에 담아보시오.

```

In [ ]:
lst = [
       [1,2,3],
       [4,5,6],
       [7,8,9]
]
lst

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
[i[1] for i in lst]

[2, 5, 8]

```
None 값을 제외한 값들의 평균을 구하세요
```

In [ ]:
age_list = [20,42,None,30,25,None,27,50,60]
tmp = [age for age in age_list if age is not None]
avg = sum(tmp) / len(tmp)
avg                     # 복습하기

36.285714285714285

```
구한 평균으로 컴프리헨션을 이용해서 결측치를 채운 리스트를 생성하세요.
```

In [ ]:
[age if age is not None else avg for age in age_list]   # 복습하기

[20, 42, 36.285714285714285, 30, 25, 36.285714285714285, 27, 50, 60]

(실습) 
- 쇼핑 구매기록을 학습데이터로 활용하여 남자인지 여자인지 맞추는 인공지능 모델을 만든다고 가정하자. 
- 다음과 같이 인공지능이 예측한 값에 대한 리스트와 실제 정답값 리스트가 있다.
```python
pred_list  = [0,1,0,0,0,1,0,0,0,1]
label_list = [0,1,0,1,0,1,0,1,0,1]
```
- 0 은 여자 이고 , 1 은 남자이다. 
- 인공지능 모델의 예측과 정답값을 일치한 개수를 리스트 컴프리헨션과 메소드 혹은 함수를 이용해서 구하고 데이터의 개수로 나누어 정확도를 구하시오.
$$
Accuracy = \frac{정답을 맞춘 개수}{전체 샘플 개수}
$$

In [ ]:
pred_list  = [0,1,0,0,0,1,0,0,0,1]
label_list = [0,1,0,1,0,1,0,1,0,1]


tmp = ["T" if i[0] == i[1] else "F" for i in zip(pred_list,label_list)]
tmp.count("T")

X = tmp.count("T") / len(label_list)
X

0.8

In [ ]:
answer = [a for a,b in zip(pred_list, label_list) if a == b]    # 같은 숫자들이 나오게 하려고
accuracy = len(answer)/len(label_list)
accuracy

0.8

In [1]:
pred_list  = [0,1,0,0,0,1,0,0,0,1]
label_list = [0,1,0,1,0,1,0,1,0,1]

In [2]:
lst = [True,False,True] # True = 1,False = 0
sum(lst)

2

In [10]:
acc = [ int(pred == label) for pred, label in zip(pred_list,label_list)]
acc

[1, 1, 1, 0, 1, 1, 1, 0, 1, 1]

In [11]:
acc = sum(acc) / len(label_list)
acc

0.8

In [12]:
acc = [ pred - label for pred, label in zip(pred_list,label_list)]  # 같은 값이면 0이다.
acc.count(0) / len(label_list)

0.8

-  set comprehension

In [13]:
a = {data for data in range(1,6)}
a

{1, 2, 3, 4, 5}

- dict comprehension
    - 데이터 전처리 시 사용

In [14]:
a = ["아침", "점심", "저녁"]
b = ["샌드위치", "유부초밥", "피자"]

result = { meal:food for meal,food in zip(a, b)}
result

{'아침': '샌드위치', '저녁': '피자', '점심': '유부초밥'}

In [15]:
dict(zip(a,b))

{'아침': '샌드위치', '저녁': '피자', '점심': '유부초밥'}

In [26]:
result = {f"{meal}식사" : food for meal,food in zip(a,b)}  # 전처리 예시
result

{'아침식사': '샌드위치', '저녁식사': '피자', '점심식사': '유부초밥'}

In [18]:
{meal : food for meal, food in zip(a,b) if meal != "점심"}

{'아침': '샌드위치', '저녁': '피자'}

In [20]:
text = "Hello Python"   # 문자열의 수를 세는 것
result = {char : text.count(char) for char in set(text)}
result

{' ': 1,
 'H': 1,
 'P': 1,
 'e': 1,
 'h': 1,
 'l': 2,
 'n': 1,
 'o': 2,
 't': 1,
 'y': 1}

인구가 30만 이상의 구만 dic로 만드세요.
```
population = {
    "종로구" : 149384,
    "중구" : 125240,
    "용산구": 230040,
    "성동구": 293556,
    "광진구":346682,
    "동대문구":342837,
    "중랑구":394702,
    "성북구":437153,
    "강북구":308055,
    "도봉구":325257,
    "노원구":523037,
    "은평구":479835
 }
```

In [41]:
population = {
    "종로구" : 149384,
    "중구" : 125240,
    "용산구": 230040,
    "성동구": 293556,
    "광진구":346682,
    "동대문구":342837,
    "중랑구":394702,
    "성북구":437153,
    "강북구":308055,
    "도봉구":325257,
    "노원구":523037,
    "은평구":479835
 }

{k:v for k,v in population.items() if v >= 300000}  # item() 함수 공부 !

{'강북구': 308055,
 '광진구': 346682,
 '노원구': 523037,
 '도봉구': 325257,
 '동대문구': 342837,
 '성북구': 437153,
 '은평구': 479835,
 '중랑구': 394702}

In [35]:
res = {i for i in population if i >= 300000}
res

AttributeError: ignored

```
인구수가 30만이 넘는 구의 인구수 합을 구하시오.
```

In [ ]:
res = [list(k) for k in population.items() if k >= 300000] 
sum(res)

In [60]:
lst = [v for v in population.values() if v > 300000]    # {}를 쓰면 중복이 제거됨
sum(lst)        # key와 value활용

3157558

In [69]:
text = "#안녕#파이썬#파이썬#최고#파이썬#안녕"

{word:text.count(word) for word in set(text.split("#")[1:])}   # set을 이용하여 중복을 제거

{'안녕': 2, '최고': 1, '파이썬': 3}